Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

[sdks] Add orderless docs for TypeScript (#994)
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/orderless-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/orderless-transactions.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[wallet-adapter] Add OKX connect instructions
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[wallet-adapter] Add OKX connect instructions (#1005)
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[stateless] Add AIP FAQ for stateless
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/build/aips/_meta.tsx
  apps/nextra/pages/en/build/aips/aip-115.mdx
  apps/nextra/pages/en/build/aips/overview.mdx
Owners: @gregnazario, @hariria, @igor-p

[stateless] Add AIP FAQ for stateless (#1007)
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/build/aips/_meta.tsx
  apps/nextra/pages/en/build/aips/aip-115.mdx
  apps/nextra/pages/en/build/aips/overview.mdx
Owners: @gregnazario, @hariria, @igor-p

chore: remove redundant words in comment (#1000)
  apps/nextra/pages/en/build/cli/trying-things-on-chain/ledger.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/ed25519.mdx
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng

[linter] Added equal_operands_in_bin_op docs (#999)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

fix(zh/cryptography): update broken Move reference link to correct page (#993)
  apps/nextra/pages/zh/build/smart-contracts/cryptography.mdx
Owners: @gregnazario, @hariria, @igor-p

[docs] upd confidential_asset docs (#955)
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
Owners: @aptos-labs/move-eng

[aips] Add AIP-88 FAQ
  apps/nextra/pages/en/build/aips/_meta.tsx
  apps/nextra/pages/en/build/aips/aip-88.mdx
Owners: @gregnazario, @hariria, @igor-p

[aips] Fix AIP page to be like other landing pages
  apps/nextra/pages/en/build/aips.mdx
  apps/nextra/pages/en/build/aips/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

[aips] Add AIP-88 FAQ
  apps/nextra/pages/en/build/aips/_meta.tsx
  apps/nextra/pages/en/build/aips/aip-88.mdx
Owners: @gregnazario, @hariria, @igor-p

[aips] Fix AIP page to be like other landing pages
  apps/nextra/pages/en/build/aips.mdx
  apps/nextra/pages/en/build/aips/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Update staking-pool-operations.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
Owners: @gregnazario, @hariria, @igor-p

[gha] allow external contributors build/lint
  .github/workflows/ci.yml
Owners: @gregnazario, @hariria, @igor-p

[gha] allow external contributors build/lint (#991)
  .github/workflows/ci.yml
Owners: @gregnazario, @hariria, @igor-p

[gha][canary] allow external contributors build/lint
  .github/workflows/ci.yml
Owners: @gregnazario, @hariria, @igor-p

[gha/test] Add canary branch for external contributors build lint (#992)
  .github/workflows/ci.yml
Owners: @gregnazario, @hariria, @igor-p

update nft aggreagtor endpoint
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/graphql-api.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/nft-aggregator-table.mdx
Owners: @aptos-labs/ecosystem-infra

update nft aggregator doc (#1017)
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/graphql-api.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/nft-aggregator-table.mdx
Owners: @aptos-labs/ecosystem-infra

chore: fix some minor issues in the comments
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform, @aptos-labs/move-eng

chore: fix some minor issues in the comments (#1018)
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform, @aptos-labs/move-eng

Update data-providers.mdx
  apps/nextra/pages/en/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

Update data-providers.mdx (#1020)
  apps/nextra/pages/en/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

Add `nested_if` documentation
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Add `find_unnecessary_casts` documentation
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

update api key docs for the wallet adapter
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

add disclaimer this enabled on testnet and not mainnet.
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add `find_unnecessary_casts` documentation (#1022)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Add `nested_if` documentation (#1021)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

add disclaimer this is enabled on testnet and not mainnet. (#1024)
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update api key docs for the wallet adapter (#1023)
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update banner pointing to aptos-docs
  README.md
Owners: @gregnazario, @hariria, @igor-p

update banner pointing to aptos-docs (#1025)
  README.md
Owners: @gregnazario, @hariria, @igor-p

Added null_effects documentation.
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

add delegated staking tables to indexer docs
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
Owners: @aptos-labs/ecosystem-infra

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
