Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @0xzihan, @aching, @rustielin, @aptos-labs/prod-eng, @banool, @moonclavedev, @0xmaayan, @movekevin

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @0xzihan

## Aptos White Paper
docs/aptos-white-paper/** @aching

## Nodes
docs/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
docs/indexer/** @banool

## General UI
src/** @moonclavedev @gregnazario

## SDKs
docs/sdks/** @0xmaayan @gregnazario
static/sdks/** @0xmaayan @gregnazario

## Move
docs/move/** @movekevin @gregnazario

[nodes] Fix node landing links
  docs/nodes/nodes-landing.md
Owners: @rustielin, @aptos-labs/prod-eng

[nodes] Fix node landing links (#88)
  docs/nodes/nodes-landing.md
Owners: @rustielin, @aptos-labs/prod-eng

[links] Cleanup http -> https, some broken links
  docs/community/aptos-style.md
  docs/community/site-updates.md
  docs/move/prover/supporting-resources.md
Owners: @gregnazario, @0xzihan, @movekevin

[link] Fix ottersec blogpost link
  docs/move/prover/supporting-resources.md
Owners: @movekevin, @gregnazario

[link] Fix broken gas meter link
  docs/concepts/base-gas.md
Owners: @gregnazario, @0xzihan

[link] Remove contributor that no longer exists
  src/contributors.json
Owners: @moonclavedev, @gregnazario

[links] Link cleanup (#89)
  docs/community/aptos-style.md
  docs/community/site-updates.md
  docs/concepts/base-gas.md
  docs/move/prover/supporting-resources.md
  src/contributors.json
Owners: @gregnazario, @0xzihan, @movekevin, @moonclavedev

[deps] Address dependabot (#86)
  package.json
  pnpm-lock.yaml
  static/sdks/typescript/examples/typescript-esm/package.json
  static/sdks/typescript/examples/typescript-esm/pnpm-lock.yaml
  static/sdks/typescript/examples/typescript/package.json
  static/sdks/typescript/examples/typescript/pnpm-lock.yaml
Owners: @gregnazario, @0xzihan, @0xmaayan

add remark mermaid to dynamic load markdown
  package.json
  pnpm-lock.yaml
  src/components/MoveReference/index.tsx
Owners: @gregnazario, @0xzihan, @moonclavedev

add remark mermaid to dynamic load markdown (#96)
  package.json
  pnpm-lock.yaml
  src/components/MoveReference/index.tsx
Owners: @gregnazario, @0xzihan, @moonclavedev

Update governance.md
  docs/concepts/governance.md
Owners: @gregnazario, @0xzihan

Update governance.md
  docs/concepts/governance.md
Owners: @gregnazario, @0xzihan

Update governance.md (#99)
  docs/concepts/governance.md
Owners: @gregnazario, @0xzihan

[mermaid] Change to dark mode by default
  src/components/MoveReference/index.tsx
Owners: @moonclavedev, @gregnazario

[cleanup] Cleanup missed spellchecks
  docs/concepts/governance.md
  scripts/additional_dict.txt
Owners: @gregnazario, @0xzihan

[mermaid] Change to dark mode by default (#100)
  docs/concepts/governance.md
  scripts/additional_dict.txt
  src/components/MoveReference/index.tsx
Owners: @gregnazario, @0xzihan, @moonclavedev

[meta] Adds new default og:image and meta description for the homepage
  docs/index.md
  docusaurus.config.ts
  static/img/meta/og-aptos-docs-default.png
Owners: @gregnazario, @0xzihan

[meta] Adds new default og:image and meta description for the homepage (#101)
  docs/index.md
  docusaurus.config.ts
  static/img/meta/og-aptos-docs-default.png
Owners: @gregnazario, @0xzihan

Fix the heading issues in the voter page
  docs/concepts/governance.md
  docs/nodes/validator-node/voter/index.md
Owners: @gregnazario, @0xzihan, @rustielin, @aptos-labs/prod-eng

Fix the heading issues in the "voter" page (#102)
  docs/concepts/governance.md
  docs/nodes/validator-node/voter/index.md
Owners: @gregnazario, @0xzihan, @rustielin, @aptos-labs/prod-eng

Update hardware requirement in mainnet for 30k TPS
  docs/nodes/validator-node/operator/node-requirements.md
Owners: @rustielin, @aptos-labs/prod-eng

Add x25519-dalek fix to sample Cargo.toml in rust sdk instructions
  docs/sdks/rust-sdk.md
Owners: @0xmaayan, @gregnazario

Update local development guide to use TS SDK v2
  docs/guides/local-development-network.md
Owners: @gregnazario, @0xzihan

Update local development guide to use TS SDK v2 (#108)
  docs/guides/local-development-network.md
Owners: @gregnazario, @0xzihan

Update script
  docs/nodes/validator-node/operator/node-requirements.md
Owners: @rustielin, @aptos-labs/prod-eng

add ts sdk sponsor transaction example link
  docs/guides/sponsored-transactions.md
Owners: @gregnazario, @0xzihan

Add TS SDK sponsor transaction example link (#110)
  docs/guides/sponsored-transactions.md
Owners: @gregnazario, @0xzihan

Comments and update script location
  docs/nodes/validator-node/operator/node-requirements.md
Owners: @rustielin, @aptos-labs/prod-eng

Documentation for the operation to change commission rates in delegation pools
  docs/nodes/validator-node/operator/delegation-pool-operations.md
Owners: @rustielin, @aptos-labs/prod-eng

Update hardware requirement in mainnet for 30k TPS (#106)
  docs/nodes/validator-node/operator/node-requirements.md
Owners: @rustielin, @aptos-labs/prod-eng

[Indexer API] Add note about configuration when running using Docker Desktop
  docs/indexer/api/self-hosted.md
Owners: @banool

[Indexer API] Add note about config when using Docker Desktop (#114)
  docs/indexer/api/self-hosted.md
Owners: @banool

Add x25519-dalek fix to sample Cargo.toml in rust sdk instructions (#107)
  docs/sdks/rust-sdk.md
Owners: @0xmaayan, @gregnazario

Documentation for the operation to change commission rates in delegation pools (#84)
  docs/nodes/validator-node/operator/delegation-pool-operations.md
Owners: @rustielin, @aptos-labs/prod-eng

Update glossary.md
  docs/reference/glossary.md
Owners: @gregnazario, @0xzihan

Update glossary.md (#120)
  docs/reference/glossary.md
Owners: @gregnazario, @0xzihan

Update glossary.md
  docs/reference/glossary.md
Owners: @gregnazario, @0xzihan

Update connect-to-aptos-network.md
  docs/nodes/validator-node/operator/connect-to-aptos-network.md
Owners: @rustielin, @aptos-labs/prod-eng

wrap link
  docs/reference/glossary.md
Owners: @gregnazario, @0xzihan

update transaction submission syntax
  docs/sdks/new-ts-sdk/index.md
  docs/sdks/new-ts-sdk/transaction-builder.md
Owners: @0xmaayan, @gregnazario
