Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @0xzihan, @aching, @rustielin, @aptos-labs/prod-eng, @banool, @moonclavedev, @0xmaayan, @movekevin

Update TS SDK transaction submission syntax (#123)
  docs/sdks/new-ts-sdk/index.md
  docs/sdks/new-ts-sdk/transaction-builder.md
Owners: @0xmaayan, @gregnazario

Update node-requirements.md
  docs/nodes/validator-node/operator/node-requirements.md
Owners: @rustielin, @aptos-labs/prod-eng

Update node-requirements.md (#124)
  docs/nodes/validator-node/operator/node-requirements.md
Owners: @rustielin, @aptos-labs/prod-eng

Update connect-to-aptos-network.md (#122)
  docs/nodes/validator-node/operator/connect-to-aptos-network.md
Owners: @rustielin, @aptos-labs/prod-eng

Rename wallets.md to wallets.md.
  docs/standards/wallets.md.
Owners: @gregnazario, @0xzihan

Update fungible-asset.md
  docs/standards/fungible-asset.md
Owners: @gregnazario, @0xzihan

Update fungible-asset.md (#132)
  docs/standards/fungible-asset.md
Owners: @gregnazario, @0xzihan

Change Typescript SDK to point to new SDK
  docs/sdks/index.md
Owners: @0xmaayan, @gregnazario

Change Typescript SDK to point to new SDK (#133)
  docs/sdks/index.md
Owners: @0xmaayan, @gregnazario

Update glossary.md
  docs/reference/glossary.md
Owners: @gregnazario, @0xzihan

Glossary changes: Accounts, Blocks, Shoal, Version (#121)
  docs/reference/glossary.md
Owners: @gregnazario, @0xzihan

[RaNd0M HACK] Add promo banner to sidebar
  src/components/sidebars.ts
  src/css/custom.css
  static/img/APT-Random-Hackathon-Takeover-600x1200.webp
Owners: @moonclavedev, @gregnazario, @0xzihan

[RaNd0M HACK] Add promo banner to sidebar (#136)
  src/components/sidebars.ts
  src/css/custom.css
  static/img/APT-Random-Hackathon-Takeover-600x1200.webp
Owners: @moonclavedev, @gregnazario, @0xzihan

Restructure + secure coding
  docs/community/index.md
  docs/community/rust-coding-guidelines/rust-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @moonclavedev

fmt
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @moonclavedev

Move fuzzing to security
  docs/community/rust-coding-guidelines/rust-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Update docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Update docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Update docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Update docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Update docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

fixed path
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Various fix and suggestion implementation
  docs/community/rust-coding-guidelines/rust-coding-guidelines.md
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Fix link
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Removed "Talk to a cryptographer"
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

move sec. guidelines
  docs/move/move-on-aptos/move-security-guidelines.md
  src/components/sidebars.ts
Owners: @movekevin, @gregnazario, @moonclavedev

pnpm spellcheck
  docs/nodes/validator-node/operator/node-requirements.md
  scripts/additional_dict.txt
Owners: @rustielin, @aptos-labs/prod-eng, @gregnazario, @0xzihan

Removed code snippet for trait implementation
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

Update link
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

change title, format of the title, link to aptos.dev
  docs/move/move-on-aptos/move-security-guidelines.md
Owners: @movekevin, @gregnazario

Moved unsafe block doc example
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
Owners: @gregnazario, @0xzihan

move abilities under types and data structure
  docs/move/move-on-aptos/move-security-guidelines.md
  scripts/additional_dict.txt
Owners: @movekevin, @gregnazario, @0xzihan

fmt + spell check
  docs/community/rust-coding-guidelines/rust-secure-coding-guidelines.md
  scripts/additional_dict.txt
Owners: @gregnazario, @0xzihan

[RaNd0M HACK] Updated dates within promo banner
  static/img/APT-Random-Hackathon-Takeover-600x1200.webp
Owners: @gregnazario, @0xzihan

Random hack takeover jh (#147)
  static/img/APT-Random-Hackathon-Takeover-600x1200.webp
Owners: @gregnazario, @0xzihan

Update your-first-nft.md
  docs/tutorials/your-first-nft.md
Owners: @gregnazario, @0xzihan

Update your-first-nft.md (#150)
  docs/tutorials/your-first-nft.md
Owners: @gregnazario, @0xzihan

update wallet standard
  docs/standards/wallets.md
Owners: @gregnazario, @0xzihan

Move security guidelines (#144)
  docs/move/move-on-aptos/move-security-guidelines.md
  docs/nodes/validator-node/operator/node-requirements.md
  scripts/additional_dict.txt
  src/components/sidebars.ts
Owners: @movekevin, @gregnazario, @rustielin, @aptos-labs/prod-eng, @0xzihan, @moonclavedev

double title removed, pnpm fmt
  docs/move/move-on-aptos/move-security-guidelines.md
  docs/tutorials/your-first-nft.md
Owners: @movekevin, @gregnazario, @0xzihan

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @0xzihan

## Aptos White Paper
docs/aptos-white-paper/** @aching

## Nodes
docs/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
docs/indexer/** @banool

## General UI
src/** @moonclavedev @gregnazario

## SDKs
docs/sdks/** @0xmaayan @gregnazario
static/sdks/** @0xmaayan @gregnazario

## Move
docs/move/** @movekevin @gregnazario
