Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

update disk requirement to 3TB SSD (#683)
  apps/nextra/pages/en/network/nodes/validator-node/node-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

fix cad redirect boilerplate template link
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

Fix cad redirect boilerplate template link (#685)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

Fix broken links
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Fix broken links in Legacy TS SDK section (#687)
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update integration-guide.mdx (#674)
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

Update install-cli-windows.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Update install-cli-windows.mdx (#689)
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Add a link to enum compatibilty rules
  apps/nextra/pages/en/build/smart-contracts/book/package-upgrades.mdx
Owners: @aptos-labs/move-eng

Typo Update README.md
  README.md
Owners: @gregnazario, @hariria, @igor-p

Add a link to enum compatibilty rules (#690)
  apps/nextra/pages/en/build/smart-contracts/book/package-upgrades.mdx
Owners: @aptos-labs/move-eng

add doc
  apps/nextra/pages/en/build/cli/setup-cli/install-move-prover.mdx
Owners: @gregnazario

Aptos Move Linter Documentation Page
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

[doc][prover] add doc for installing Move prover dependencies (#692)
  apps/nextra/pages/en/build/cli/setup-cli/install-move-prover.mdx
Owners: @gregnazario

Aptos Move Linter Documentation Page (#688)
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Abilities can be added during upgrade
  apps/nextra/pages/en/build/smart-contracts/book/package-upgrades.mdx
Owners: @aptos-labs/move-eng

Abilities can be added during upgrade (#693)
  apps/nextra/pages/en/build/smart-contracts/book/package-upgrades.mdx
Owners: @aptos-labs/move-eng

Add feature to move 2.1 release notes
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

add docs
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add non-binding underscore function parameter feature to move 2.1 release notes (#695)
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

aptos-framework repo migration: developer docs
  apps/nextra/pages/en/build/cli/working-with-move-contracts/arguments-in-json-tutorial.mdx
  apps/nextra/pages/en/build/guides/first-multisig.mdx
  apps/nextra/pages/en/build/smart-contracts/book/packages.mdx
  apps/nextra/pages/en/build/smart-contracts/book/unit-testing.mdx
  apps/nextra/pages/en/build/smart-contracts/create-package.mdx
  apps/nextra/pages/en/build/smart-contracts/scripts/compiling-scripts.mdx
  apps/nextra/pages/en/build/smart-contracts/third-party-dependencies.mdx
  apps/nextra/pages/zh/build/cli/working-with-move-contracts/arguments-in-json-tutorial.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

aptos-framework repo migration: developer docs [3/n] (#698)
  apps/nextra/pages/en/build/cli/working-with-move-contracts/arguments-in-json-tutorial.mdx
  apps/nextra/pages/en/build/guides/first-multisig.mdx
  apps/nextra/pages/en/build/smart-contracts/book/packages.mdx
  apps/nextra/pages/en/build/smart-contracts/book/unit-testing.mdx
  apps/nextra/pages/en/build/smart-contracts/create-package.mdx
  apps/nextra/pages/en/build/smart-contracts/scripts/compiling-scripts.mdx
  apps/nextra/pages/en/build/smart-contracts/third-party-dependencies.mdx
  apps/nextra/pages/zh/build/cli/working-with-move-contracts/arguments-in-json-tutorial.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

Add VM error code
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
Owners: @aptos-labs/move-eng

Link to new lint rules tracking
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Link to new lint rules tracking (#699)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Add VM error code (#697)
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
Owners: @aptos-labs/move-eng

fix mr-2 Button.tsx
  apps/nextra/components/buttons/Button.tsx
Owners: @gregnazario, @hariria, @igor-p

[Kotlin SDK] add docs for sponsored txns...
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/sponsored-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add the documentation for the transaction simulation enhancement
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[nextra]Object transfer instructions
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

temp
  apps/nextra/pages/en/network/blockchain.mdx
  apps/nextra/pages/en/network/blockchain/_meta.ts
  apps/nextra/pages/en/network/blockchain/blockchain-deep-dive.mdx
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive.mdx
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/_meta.ts
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/authentication.mdx
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/core-data-model.mdx
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/core-data-model/_meta.ts
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/core-data-model/ledger.mdx
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/core-data-model/state.mdx
  apps/nextra/pages/en/network/blockchain/data-structure-deep-dive/incentives.mdx
  apps/nextra/pages/en/network/blockchain/move.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/blockchain-eng

fix broken Next.js SSG link
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
Owners: @gregnazario, @hariria, @igor-p

Fix broken link in Additional Resources -> Contribute -> Components -> SSG (#706)
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
Owners: @gregnazario, @hariria, @igor-p

[document] Add zh document #678 (#684)
  apps/nextra/pages/zh/build/_meta.tsx
  apps/nextra/pages/zh/build/guides.mdx
  apps/nextra/pages/zh/build/indexer.mdx
  apps/nextra/pages/zh/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

Document well defined eval order starting from Move 2
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

Document well defined eval order starting from Move 2 (#704)
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

[nextra] Object transfer instructions (#703)
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

fix: signer -> sponsor - for consistency, renamed signer to sponsor
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/sponsored-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[Kotlin SDK] add docs for sponsored txns... (#701)
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/sponsored-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix "mr-2" Button.tsx (#700)
  apps/nextra/components/buttons/Button.tsx
Owners: @gregnazario, @hariria, @igor-p

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
