Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

Update delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-liveness-criteria.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

postgresql install
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @aptos-labs/ecosystem-infra

Allow installing specific version of CLI with installation script (#770)
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

comments
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @aptos-labs/ecosystem-infra

Indexer PostgreSQL install instructions (#774)
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @aptos-labs/ecosystem-infra

more translation
  apps/nextra/pages/ja/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/ja/build/smart-contracts/why-move.mdx
  apps/nextra/pages/ja/developer-platforms/_meta.ts
  apps/nextra/pages/ja/developer-platforms/contribute.mdx
  apps/nextra/pages/ja/developer-platforms/contribute/_meta.ts
  apps/nextra/pages/ja/developer-platforms/contribute/components/_meta.ts
  apps/nextra/pages/ja/developer-platforms/contribute/examples/_meta.ts
  apps/nextra/pages/ja/network/_meta.ts
  apps/nextra/pages/ja/network/blockchain.mdx
  apps/nextra/pages/ja/network/blockchain/_meta.ts
  apps/nextra/pages/ja/network/faucet.mdx
  apps/nextra/pages/ja/network/nodes/_meta.tsx
  apps/nextra/pages/ja/network/nodes/configure/_meta.tsx
  apps/nextra/pages/ja/network/nodes/configure/node-files-all-networks/_meta.tsx
  apps/nextra/pages/ja/network/nodes/full-node/_meta.tsx
  apps/nextra/pages/ja/network/nodes/full-node/deployments/_meta.tsx
  apps/nextra/pages/ja/network/nodes/localnet/_meta.tsx
  apps/nextra/pages/ja/network/nodes/validator-node/_meta.tsx
  apps/nextra/pages/ja/network/nodes/validator-node/deploy-nodes/_meta.tsx
  apps/nextra/pages/ja/network/nodes/validator-node/modify-nodes/_meta.tsx
  apps/nextra/pages/ja/network/nodes/validator-node/verify-nodes/_meta.tsx
  apps/nextra/pages/ja/network/releases.mdx
Owners: @gregnazario, @hariria, @igor-p

[ja] Translate keyless to japanese
  apps/nextra/pages/ja/build/guides/aptos-keyless.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless/_meta.tsx
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless/faq.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless/key-considerations.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless/other.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/how-keyless-works.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/introduction.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/oidc-support.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/other.mdx
  apps/nextra/pages/ja/build/guides/aptos-keyless/simple-example.mdx
Owners: @gregnazario, @hariria, @igor-p

fix lints
  apps/nextra/docs.config.js
  apps/nextra/pages/ja/build/guides/aptos-keyless/federated-keyless/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

fix build
  apps/nextra/pages/ja/build/cli/running-a-local-network.mdx
  apps/nextra/public/robots.txt
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-ja.xml
  apps/nextra/public/sitemap-zh.xml
  apps/nextra/public/sitemap.xml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade security deps
  apps/nextra/package.json
  package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Fix typos and links (#772)
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @aptos-labs/blockchain-eng, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update reference to example repo and add sections on write conflicts + config.yaml
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @aptos-labs/ecosystem-infra

Add Section for Version Tracking, Restart Behavior, and Backfilling (#769)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

parallelism
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @aptos-labs/ecosystem-infra

Docs on adding parallelism to indexer processor (#783)
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @aptos-labs/ecosystem-infra

[Nodes] Add configuration guide for consensus observer
  apps/nextra/pages/en/network/nodes/configure.mdx
  apps/nextra/pages/en/network/nodes/configure/_meta.tsx
  apps/nextra/pages/en/network/nodes/configure/consensus-observer.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[Nodes] Add configuration guide for consensus observer (#779)
  apps/nextra/pages/en/network/nodes/configure.mdx
  apps/nextra/pages/en/network/nodes/configure/_meta.tsx
  apps/nextra/pages/en/network/nodes/configure/consensus-observer.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[deps] Upgrade security deps (#781)
  apps/nextra/package.json
  package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

revise example
  apps/nextra/pages/en/build/smart-contracts/prover/spec-lang.mdx
Owners: @aptos-labs/move-eng

update link
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
  apps/nextra/pages/en/build/smart-contracts/resource-accounts.mdx
  apps/nextra/pages/ja/build/smart-contracts/error-codes.mdx
  apps/nextra/pages/ja/build/smart-contracts/resource-accounts.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

update MSL doc
  apps/nextra/pages/en/build/smart-contracts/prover/spec-lang.mdx
Owners: @aptos-labs/move-eng

importing test transactions
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/txn-importer.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

generating test transactions with move script
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/txn-script.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Add rest of common steps
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @aptos-labs/ecosystem-infra

typo
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @aptos-labs/ecosystem-infra

migration guide
  apps/nextra/pages/en/build/indexer/indexer-sdk/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/migration-guide.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
Owners: @aptos-labs/ecosystem-infra

comments
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/migration-guide.mdx
Owners: @aptos-labs/ecosystem-infra

Indexer SDK Migration Guide (#782)
  apps/nextra/pages/en/build/indexer/indexer-sdk/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/migration-guide.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
Owners: @aptos-labs/ecosystem-infra

[prover] Update MSL doc (#784)
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/spec-lang.mdx
  apps/nextra/pages/en/build/smart-contracts/resource-accounts.mdx
  apps/nextra/pages/ja/build/smart-contracts/error-codes.mdx
  apps/nextra/pages/ja/build/smart-contracts/resource-accounts.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

prepare test transactions
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/test-transactions.mdx
Owners: @aptos-labs/ecosystem-infra

testing processor
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Add CommonSteps to the `steps` page (#785)
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @aptos-labs/ecosystem-infra

transaction stream step
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/transaction-stream.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

fix typo
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @aptos-labs/ecosystem-infra

arcify data
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/arcify-data.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

transaction stream step (#787)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/transaction-stream.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

chore: fix some typos
  apps/nextra/pages/en/build/guides/key-rotation.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
  apps/nextra/pages/en/build/smart-contracts/book/vector.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform, @aptos-labs/move-eng

chore: fix some typos (#791)
  apps/nextra/pages/en/build/guides/key-rotation.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
  apps/nextra/pages/en/build/smart-contracts/book/vector.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform, @aptos-labs/move-eng

Initial guide for Account Abstraction
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform
