Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

Added docs for aborting_overflow_check lint (#975)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Added `assert_const` documentation to linter page (#976)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Update functions.mdx (#979)
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

Add `known_to_abort` documentation (#980)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

update wallet adapter intructions for dapps
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[deps] Update brace-expansion
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Update wallet adapter instructions for dapps (#985)
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add FAQ to Aptos Fungible Asset (FA) Standard (#977)
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @aptos-labs/move-eng

[deps] Update brace-expansion (#984)
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

update nft analytics page with new endpoint
  apps/nextra/pages/en/build/indexer/nft-aggregator/analytics-api.mdx
Owners: @aptos-labs/ecosystem-infra

update nft analytics page with new endpoint (#968)
  apps/nextra/pages/en/build/indexer/nft-aggregator/analytics-api.mdx
Owners: @aptos-labs/ecosystem-infra

chore: remove redundant word in comment
  apps/nextra/pages/en/build/guides/key-rotation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

chore: remove redundant word in comment (#986)
  apps/nextra/pages/en/build/guides/key-rotation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

chore: fix some typos in comment
  apps/nextra/pages/en/build/guides/build-e2e-dapp/1-create-smart-contract.mdx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

chore: fix some typos in comment (#987)
  apps/nextra/pages/en/build/guides/build-e2e-dapp/1-create-smart-contract.mdx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

Update digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @aptos-labs/move-eng

Fix your first move module debug strings
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

Fix your first move module debug strings (#989)
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

[gha] fix artifactregistry login
  .github/workflows/ci.yml
  package.json
Owners: @gregnazario, @hariria, @igor-p

[gha] fix artifactregistry login (#990)
  .github/workflows/ci.yml
  package.json
Owners: @gregnazario, @hariria, @igor-p

[gha] allow external contributors build/lint
  .github/workflows/ci.yml
Owners: @gregnazario, @hariria, @igor-p

[gha][canary] allow external contributors build/lint
  .github/workflows/ci.yml
Owners: @gregnazario, @hariria, @igor-p

fix(zh/cryptography): update broken Move reference link to correct page
  apps/nextra/pages/zh/build/smart-contracts/cryptography.mdx
Owners: @gregnazario, @hariria, @igor-p

Update digital-asset.mdx (#988)
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @aptos-labs/move-eng

[sdks] Add orderless docs for TypeScript
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/orderless-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/orderless-transactions.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

Update signatures -> transactions
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix internal npm package access
  .github/workflows/ci.yml
  .npmrc
  apps/nextra/.npmrc
  apps/nextra/package.json
Owners: @gregnazario, @hariria, @igor-p

prettify chat message
  .github/workflows/ci.yml
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

add ai chatbot
  .npmrc
  apps/nextra/.env.example
  apps/nextra/.npmrc
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-input.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/components/chat-widget/chat-sidebar.tsx
  apps/nextra/components/chat-widget/index.tsx
  apps/nextra/components/chat-widget/types.ts
  apps/nextra/components/index.tsx
  apps/nextra/next.config.mjs
  apps/nextra/package.json
  apps/nextra/services/aptosBuildApi.ts
  apps/nextra/theme.config.tsx
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

try fix lint again
  .npmrc
  apps/nextra/.npmrc
Owners: @gregnazario, @hariria, @igor-p

make firebase login optional
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/components/chat-widget/index.tsx
Owners: @gregnazario, @hariria, @igor-p

add auth to npmrc
  .npmrc
  packages/aptos-nextra-config/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

add auth to npmrc for aptos-internal
  .npmrc
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

remove internal package dependency
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/components/chat-widget/index.tsx
  apps/nextra/package.json
  apps/nextra/services/aptosBuildApi.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Update staking-pool-operations.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
Owners: @gregnazario, @hariria, @igor-p

address comments on UI nits
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-input.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/components/chat-widget/chat-sidebar.tsx
Owners: @gregnazario, @hariria, @igor-p

address comments on UI nits
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-input.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/components/chat-widget/chat-sidebar.tsx
Owners: @gregnazario, @hariria, @igor-p

[linter] Added equal_operands_in_bin_op docs
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

chore: remove redundant words in comment
  apps/nextra/pages/en/build/cli/trying-things-on-chain/ledger.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/ed25519.mdx
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng

update orderless
  apps/nextra/pages/en/build/guides/orderless-transactions.mdx
Owners: @gregnazario, @hariria, @igor-p
