Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

[sdks] Reorder to match on both SDKs page and sidebar
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

tag user/team from issue section as comment
  .github/label-actions-config.yml
  .github/label-team-config.yml
  .github/tagsByIssueSection.json
  .github/workflows/issue-label.yml
Owners: @gregnazario, @hariria, @igor-p

delete unused files
  .github/label-actions-config.yml
  .github/label-team-config.yml
Owners: @gregnazario, @hariria, @igor-p

language
  .github/workflows/issue-label.yml
Owners: @gregnazario, @hariria, @igor-p

[exchange guide] Add more explicit native token docs
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

tag user/team from issue section as comment
  .github/tagsByIssueSection.json
  .github/workflows/issue-label.yml
Owners: @gregnazario, @hariria, @igor-p

address comments
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

format
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

add documentation for op equal
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

format
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

[Move Book] Add documentation for op equal (#649)
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

move script into its own file
  .github/tagging/script.js
  .github/tagging/tagsByIssueSection.json
  .github/workflows/issue-label-tag.yml
Owners: @gregnazario, @hariria, @igor-p

[exchange guide] Add more explicit native token docs (#655)
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

[fix] fix #633 (#651)
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

[update] fa
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

add helpful output
  .github/tagging/script.js
Owners: @gregnazario, @hariria, @igor-p

one final change to remove JSON parsing and fs
  .github/tagging/script.js
Owners: @gregnazario, @hariria, @igor-p

tag user/team from issue section as comment (#656)
  .github/tagging/script.js
  .github/tagging/tagsByIssueSection.json
  .github/workflows/issue-label-tag.yml
Owners: @gregnazario, @hariria, @igor-p

consensus key rotation
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/_meta.tsx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

randomness doc update 20241010
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @aptos-labs/move-eng

randomness doc update 20241010 (#657)
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @aptos-labs/move-eng

always instruct people to run indexer in docker
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

add instruction to run postgres in local docker
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Always instruct people to run indexer in docker (#658)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

[error-codes] Add a more user friendly description to common questions
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
Owners: @aptos-labs/move-eng

amend edits
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
Owners: @aptos-labs/move-eng

[error-codes] Add a more user friendly description to common questions (#659)
  apps/nextra/pages/en/build/smart-contracts/error-codes.mdx
Owners: @aptos-labs/move-eng

fix invalid JSON
  apps/nextra/pages/en/build/indexer/fungible-asset-balances.mdx
Owners: @aptos-labs/ecosystem-infra

fix invalid JSON (#660)
  apps/nextra/pages/en/build/indexer/fungible-asset-balances.mdx
Owners: @aptos-labs/ecosystem-infra

add fed keyless doc
  apps/nextra/next-env.d.ts
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/what-is-federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

undo
  apps/nextra/next-env.d.ts
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

graphite
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/what-is-federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/what-is-federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

spacing
  apps/nextra/pages/en/build/guides/aptos-keyless/what-is-federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

Add view functions dotnet
  apps/nextra/pages/en/build/sdks/dotnet-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/getting-started.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/queries/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/queries/view.mdx
Owners: @gregnazario, @aptos-labs/developer-platform
