Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

cannot request to fund 0 amount
  apps/nextra/pages/en/build/guides/first-transaction.mdx
Owners: @gregnazario, @hariria, @igor-p

Update apps/nextra/pages/en/build/guides/first-transaction.mdx
  apps/nextra/pages/en/build/guides/first-transaction.mdx
Owners: @gregnazario, @hariria, @igor-p

cannot request to fund 0 amount (#941)
  apps/nextra/pages/en/build/guides/first-transaction.mdx
Owners: @gregnazario, @hariria, @igor-p

add docs on how to support mobile wallets
  apps/nextra/pages/_app.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

Add docs on how to support mobile wallets with the adapter (#942)
  apps/nextra/pages/_app.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

updates to the adapter x chain accounts page
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

add evm docs
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Updates to the adapter x chain accounts page (#931)
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[i18n] Zh Confidential Asset (CA)
  apps/nextra/pages/zh/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

[i18n] Zh Confidential Asset (CA) (#940)
  apps/nextra/pages/zh/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

Update enums.mdx
  apps/nextra/pages/en/build/smart-contracts/book/enums.mdx
Owners: @aptos-labs/move-eng

[fix] enums.mdx example code error (#944)
  apps/nextra/pages/en/build/smart-contracts/book/enums.mdx
Owners: @aptos-labs/move-eng

Update ApiReference component to include server URL in API spec
  apps/nextra/components/api-reference/ApiReference.tsx
Owners: @gregnazario, @hariria, @igor-p

Refactor ApiReference component to improve formatting of API spec content
  apps/nextra/components/api-reference/ApiReference.tsx
Owners: @gregnazario, @hariria, @igor-p

[fix]fix fullnode api (#946)
  apps/nextra/components/api-reference/ApiReference.tsx
Owners: @gregnazario, @hariria, @igor-p

Update variables.mdx
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

Update variables.mdx
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

[fix] fix variables.mdx example code error (#945)
  apps/nextra/pages/en/build/smart-contracts/book/variables.mdx
Owners: @aptos-labs/move-eng

[i18n] Zh build/smart-contracts/book/
  apps/nextra/pages/zh/build/smart-contracts/book/SUMMARY.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/_meta.tsx
  apps/nextra/pages/zh/build/smart-contracts/book/abilities.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/abort-and-assert.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/address.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/bool.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/coding-conventions.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/conditionals.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/constants.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/enums.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/equality.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/friends.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/generics.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/global-storage-structure.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/integers.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/loops.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/modules-and-scripts.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/move-2.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/move-tutorial.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/package-upgrades.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/packages.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/references.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/signer.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/standard-library.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/structs-and-resources.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/tuples.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/unit-testing.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/uses.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/variables.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/vector.mdx
Owners: @gregnazario, @hariria, @igor-p

fmt
  apps/nextra/pages/zh/build/smart-contracts/book/move-tutorial.mdx
Owners: @gregnazario, @hariria, @igor-p

[i18n] Zh build/smart-contracts/book/ (#947)
  apps/nextra/pages/zh/build/smart-contracts/book/SUMMARY.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/_meta.tsx
  apps/nextra/pages/zh/build/smart-contracts/book/abilities.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/abort-and-assert.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/address.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/bool.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/coding-conventions.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/conditionals.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/constants.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/enums.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/equality.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/friends.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/generics.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/global-storage-structure.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/integers.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/loops.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/modules-and-scripts.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/move-2.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/move-tutorial.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/package-upgrades.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/packages.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/references.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/signer.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/standard-library.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/structs-and-resources.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/tuples.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/unit-testing.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/uses.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/variables.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/vector.mdx
Owners: @gregnazario, @hariria, @igor-p

Update Chinese documentation for Aptos development resources
  apps/nextra/pages/zh/build/_meta.tsx
  apps/nextra/pages/zh/build/get-started/_meta.tsx
  apps/nextra/pages/zh/build/get-started/developer-setup.mdx
  apps/nextra/pages/zh/build/get-started/ethereum-cheatsheet.mdx
  apps/nextra/pages/zh/build/get-started/solana-cheatsheet.mdx
  apps/nextra/pages/zh/build/smart-contracts/aptos-coin.mdx
  apps/nextra/pages/zh/build/smart-contracts/aptos-standards.mdx
  apps/nextra/pages/zh/build/smart-contracts/aptos-token.mdx
  apps/nextra/pages/zh/build/smart-contracts/bcs.mdx
  apps/nextra/pages/zh/build/smart-contracts/book.mdx
  apps/nextra/pages/zh/build/smart-contracts/compiler_v2.mdx
  apps/nextra/pages/zh/build/smart-contracts/compiling.mdx
  apps/nextra/pages/zh/build/smart-contracts/confidential-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/create-package.mdx
Owners: @gregnazario, @hariria, @igor-p

Add Chinese documentation for various smart contract topics
  apps/nextra/pages/zh/build/smart-contracts/cryptography.mdx
  apps/nextra/pages/zh/build/smart-contracts/debugging.mdx
  apps/nextra/pages/zh/build/smart-contracts/deployment.mdx
  apps/nextra/pages/zh/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/error-codes.mdx
  apps/nextra/pages/zh/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/linter.mdx
  apps/nextra/pages/zh/build/smart-contracts/maps.mdx
  apps/nextra/pages/zh/build/smart-contracts/modules-on-aptos.mdx
  apps/nextra/pages/zh/build/smart-contracts/move-reference.mdx
  apps/nextra/pages/zh/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/zh/build/smart-contracts/objects.mdx
  apps/nextra/pages/zh/build/smart-contracts/prover.mdx
  apps/nextra/pages/zh/build/smart-contracts/randomness.mdx
  apps/nextra/pages/zh/build/smart-contracts/reference.mdx
  apps/nextra/pages/zh/build/smart-contracts/resource-accounts.mdx
  apps/nextra/pages/zh/build/smart-contracts/scripts.mdx
  apps/nextra/pages/zh/build/smart-contracts/smart-vector.mdx
  apps/nextra/pages/zh/build/smart-contracts/table.mdx
  apps/nextra/pages/zh/build/smart-contracts/third-party-dependencies.mdx
  apps/nextra/pages/zh/build/smart-contracts/tokens.mdx
  apps/nextra/pages/zh/build/smart-contracts/vector.mdx
  apps/nextra/pages/zh/build/smart-contracts/why-move.mdx
Owners: @gregnazario, @hariria, @igor-p

Update Chinese documentation for smart contracts
  apps/nextra/pages/zh/build/smart-contracts/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Update Chinese cheat sheets for Ethereum and Solana to Aptos
  apps/nextra/pages/zh/build/get-started/ethereum-cheatsheet.mdx
  apps/nextra/pages/zh/build/get-started/solana-cheatsheet.mdx
Owners: @gregnazario, @hariria, @igor-p

Update Chinese documentation for developer setup and smart contracts
  apps/nextra/pages/zh/build/get-started/_meta.tsx
  apps/nextra/pages/zh/build/smart-contracts/_meta.tsx
  apps/nextra/pages/zh/build/smart-contracts/book/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Fix typo in maps.mdx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @aptos-labs/move-eng

Update apps/nextra/pages/zh/build/smart-contracts/maps.mdx
  apps/nextra/pages/zh/build/smart-contracts/maps.mdx
Owners: @gregnazario, @hariria, @igor-p

[i18n] zh /build/smart-contracts/ (#948)
  apps/nextra/pages/zh/build/_meta.tsx
  apps/nextra/pages/zh/build/get-started/_meta.tsx
  apps/nextra/pages/zh/build/get-started/developer-setup.mdx
  apps/nextra/pages/zh/build/get-started/ethereum-cheatsheet.mdx
  apps/nextra/pages/zh/build/get-started/solana-cheatsheet.mdx
  apps/nextra/pages/zh/build/smart-contracts/_meta.tsx
  apps/nextra/pages/zh/build/smart-contracts/aptos-coin.mdx
  apps/nextra/pages/zh/build/smart-contracts/aptos-standards.mdx
  apps/nextra/pages/zh/build/smart-contracts/aptos-token.mdx
  apps/nextra/pages/zh/build/smart-contracts/bcs.mdx
  apps/nextra/pages/zh/build/smart-contracts/book.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/_meta.tsx
  apps/nextra/pages/zh/build/smart-contracts/compiler_v2.mdx
  apps/nextra/pages/zh/build/smart-contracts/compiling.mdx
  apps/nextra/pages/zh/build/smart-contracts/confidential-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/create-package.mdx
  apps/nextra/pages/zh/build/smart-contracts/cryptography.mdx
  apps/nextra/pages/zh/build/smart-contracts/debugging.mdx
  apps/nextra/pages/zh/build/smart-contracts/deployment.mdx
  apps/nextra/pages/zh/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/error-codes.mdx
  apps/nextra/pages/zh/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/linter.mdx
  apps/nextra/pages/zh/build/smart-contracts/maps.mdx
  apps/nextra/pages/zh/build/smart-contracts/modules-on-aptos.mdx
  apps/nextra/pages/zh/build/smart-contracts/move-reference.mdx
  apps/nextra/pages/zh/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/zh/build/smart-contracts/objects.mdx
  apps/nextra/pages/zh/build/smart-contracts/prover.mdx
  apps/nextra/pages/zh/build/smart-contracts/randomness.mdx
  apps/nextra/pages/zh/build/smart-contracts/reference.mdx
  apps/nextra/pages/zh/build/smart-contracts/resource-accounts.mdx
  apps/nextra/pages/zh/build/smart-contracts/scripts.mdx
  apps/nextra/pages/zh/build/smart-contracts/smart-vector.mdx
  apps/nextra/pages/zh/build/smart-contracts/table.mdx
  apps/nextra/pages/zh/build/smart-contracts/third-party-dependencies.mdx
  apps/nextra/pages/zh/build/smart-contracts/tokens.mdx
  apps/nextra/pages/zh/build/smart-contracts/vector.mdx
  apps/nextra/pages/zh/build/smart-contracts/why-move.mdx
Owners: @gregnazario, @hariria, @igor-p

Update redirect rules in next.config.mjs to support localized paths for build documentation
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

[i18n] zh smart-contracts / create-aptos-dapp
  apps/nextra/pages/zh/build/create-aptos-dapp.mdx
  apps/nextra/pages/zh/build/smart-contracts.mdx
Owners: @gregnazario, @hariria, @igor-p

[i18n] add zh smart-contracts / create-aptos-dapp (#951)
  apps/nextra/pages/zh/build/create-aptos-dapp.mdx
  apps/nextra/pages/zh/build/smart-contracts.mdx
Owners: @gregnazario, @hariria, @igor-p

[docs] upd confidential_asset docs
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
Owners: @aptos-labs/move-eng

CoinStore, not Coin
  apps/nextra/pages/en/network/blockchain/resources.mdx
Owners: @aptos-labs/blockchain-eng

Update script-composer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update zh script-composer.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @hariria, @igor-p

[scriptComposer] Fix Example Code Error (#957)
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @hariria, @igor-p

[node] Add statement on NTP requirement
  apps/nextra/pages/en/network/nodes/validator-node/node-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

fix artemis link
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/zh/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

fix artemis link (#959)
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/zh/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
