Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

Fixed wallet adapter meta
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add DAA docs for the ts-sdk and wallet adapter (#873)
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update VSCode Extension Info
  apps/nextra/pages/en/build/get-started/developer-setup.mdx
Owners: @gregnazario, @hariria, @igor-p

add topaz back
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/topaz.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

[Linter] Added description for non-minimal bool linter rule
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

[Linter] Added description for nonminimal bool linter rule (#893)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

add topaz back (#890)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/topaz.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

[deps] Upgrade all dependencies
  .github/workflows/ci.yml
  .tool-versions
  apps/nextra/package.json
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/utils/mdast/mdast.ts
  packages/aptos-nextra-config/package.json
  packages/eslint-config/package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade vite
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Apply suggestions from code review
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

chore: fix typo in code demo (#882)
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

[deps] Upgrade vite
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[docs] added docs for confidential asset contracts & sdk
  apps/nextra/pages/en/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
  apps/nextra/public/docs/ca-diagram-dark.png
  apps/nextra/public/docs/ca-diagram-light.png
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng, @hariria, @igor-p

sdk docs fixes
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

added links
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
Owners: @aptos-labs/move-eng

refactor: confidential asset guide and method descriptions
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

docs(python-sdk): added guide for calculating the signed transaction hash
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/calculate-hash.mdx
Owners: @gregnazario, @hariria, @igor-p

typos
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

typo
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

refactor: update references from confidentialCoin to confidentialAsset in SDK documentation
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix invalid module paths in account abstraction examples
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update staking-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update docs-config.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/docs-config.mdx
Owners: @gregnazario, @hariria, @igor-p

fix invalid module paths in account abstraction examples (#898)
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update install-cli-windows.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Update install-cli-windows.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Update apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Tippi fifestarr patch windows cli (#902)
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Fix Typos in Documentation (#899)
  apps/nextra/pages/en/developer-platforms/contribute/setup/docs-config.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
Owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[nextra] Preload Search component
  apps/nextra/components/preload-search/DynamicPreloadSearch.tsx
  apps/nextra/components/preload-search/PreloadSearch.tsx
  apps/nextra/components/preload-search/index.ts
  apps/nextra/pages/_app.tsx
  apps/nextra/pages/_document.tsx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
Owners: @gregnazario, @hariria, @igor-p

Overhaul docs related to API rate limits
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/aptos-labs-developer-portal.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/get-started/developer-setup.mdx
  apps/nextra/pages/en/build/indexer/indexer-api.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/network/nodes/full-node/deployments.mdx
  apps/nextra/pages/zh/_meta.ts
  apps/nextra/pages/zh/build/apis/aptos-labs-developer-portal.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Overhaul docs related to API rate limits (#904)
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/aptos-labs-developer-portal.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/get-started/developer-setup.mdx
  apps/nextra/pages/en/build/indexer/indexer-api.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/network/nodes/full-node/deployments.mdx
  apps/nextra/pages/zh/_meta.ts
  apps/nextra/pages/zh/build/apis/aptos-labs-developer-portal.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

update to processor v2 repo
  apps/nextra/components/beta-notice/IndexerBetaNotice.tsx
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

update to processor v2 repo (#905)
  apps/nextra/components/beta-notice/IndexerBetaNotice.tsx
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

[cli] Add installation script by CLI
  apps/nextra/public/scripts/install_cli.sh
Owners: @gregnazario, @hariria, @igor-p

[cli] Add PowerShell CLI installation script
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update self-hosted.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/self-hosted.mdx
Owners: @aptos-labs/ecosystem-infra

[cli] Add installation script by CLI (#907)
  apps/nextra/public/scripts/install_cli.ps1
  apps/nextra/public/scripts/install_cli.sh
Owners: @gregnazario, @hariria, @igor-p
