Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

Update fungible-asset.md
  apps/docusaurus/docs/standards/fungible-asset.md
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

Apply suggestions from code review
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

Add warning about google account
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

[book] Update comment documentation
  apps/nextra/pages/en/build/smart-contracts/book/coding-conventions.mdx
Owners: @movekevin, @gregnazario

[book] Update comment documentation (#464)
  apps/nextra/pages/en/build/smart-contracts/book/coding-conventions.mdx
Owners: @movekevin, @gregnazario

Updates CAD instructions for migrating to mainnet
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

Updates CAD instructions for migrating to mainnet (#465)
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

Port keyless to nextra docs
  apps/nextra/next.config.mjs
  apps/nextra/package.json
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/introduction.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/other.mdx
  apps/nextra/public/docs/aptos-keyless/apple-dev-program.png
  apps/nextra/public/docs/aptos-keyless/google-create-credentials.png
  apps/nextra/public/docs/aptos-keyless/google-credentials-nav.png
  apps/nextra/public/docs/aptos-keyless/keyless-account.png
  apps/nextra/public/docs/aptos-keyless/keyless-proof.png
  apps/nextra/public/docs/aptos-keyless/keyless-signing.png
  apps/nextra/public/docs/aptos-keyless/keyless_relation.png
  apps/nextra/public/robots.txt
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap.xml
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

update lockfile
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

undo package changes
  apps/nextra/package.json
Owners: @gregnazario, @hariria

revert lock
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

fix tsx->ts
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria

add upgrade instruction in cad
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

remove unused
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

wording
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

add steps, callouts and remove junk files
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
  apps/nextra/public/robots.txt
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap.xml
Owners: @gregnazario, @hariria

nit
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

doc
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

fix
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

Update titles
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/introduction.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/other.mdx
Owners: @gregnazario, @hariria

Port keyless to nextra docs (#466)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/introduction.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/other.mdx
  apps/nextra/public/docs/aptos-keyless/apple-dev-program.png
  apps/nextra/public/docs/aptos-keyless/google-create-credentials.png
  apps/nextra/public/docs/aptos-keyless/google-credentials-nav.png
  apps/nextra/public/docs/aptos-keyless/keyless-account.png
  apps/nextra/public/docs/aptos-keyless/keyless-proof.png
  apps/nextra/public/docs/aptos-keyless/keyless-signing.png
  apps/nextra/public/docs/aptos-keyless/keyless_relation.png
Owners: @gregnazario, @hariria

add upgrade instruction in cad (#467)
  apps/docusaurus/docs/create-aptos-dapp/templates/digital-asset.md
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

[advanced] Remove aptos names guide
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/advanced-guides/aptos-name-service.mdx
Owners: @gregnazario, @hariria

[advanced] Move key rotation to guides
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/key-rotation.mdx
Owners: @gregnazario, @hariria

[advanced] Remove duplicate keyless guide
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/advanced-guides/keyless-accounts.mdx
Owners: @gregnazario, @hariria

[randomness] Add Aptos Roll product name back in
  apps/nextra/pages/en/build/advanced-guides/randomness.mdx
Owners: @gregnazario, @hariria

[randomness] Move to smart contracts
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @gregnazario, @hariria, @movekevin

[wallet-standards] Move wallet standard page
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
Owners: @gregnazario, @hariria, @0xmaayan

[advanced] Move multisig-managed to guides
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/multisig-managed-fungible-asset.mdx
Owners: @gregnazario, @hariria

[format] Format files that weren't formatted
  apps/docusaurus/docs/nodes/full-node/network-identity-fullnode.md
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
Owners: @gregnazario, @hariria

[system-integrators-guide] Move to guides
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/build-e2e-dapp/4-fetch-data-from-chain.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/network/blockchain/events.mdx
  apps/nextra/pages/en/network/glossary.mdx
  apps/nextra/pages/en/network/nodes/building-from-source.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng

[keyless] temporarily move keyless
  apps/nextra/pages/en/build/guides/_meta.tsx
Owners: @gregnazario, @hariria

[guides] Move transaction management
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/transaction-management.mdx
Owners: @gregnazario, @hariria

[guides] move sponsored transactions
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/sponsored-transactions.mdx
Owners: @gregnazario, @hariria

[guides] Remove advanced-guides page
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/network/blockchain/accounts.mdx
Owners: @gregnazario, @hariria

[keyless] temporarily move keyless
  apps/nextra/pages/en/build/guides/_meta.tsx
Owners: @gregnazario, @hariria

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario
