Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

[advanced] Remove duplicate keyless guide
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/advanced-guides/keyless-accounts.mdx
Owners: @gregnazario, @hariria

[guides] Remove advanced-guides page
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/network/blockchain/accounts.mdx
Owners: @gregnazario, @hariria

[advanced] Remove aptos names guide
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/advanced-guides/aptos-name-service.mdx
Owners: @gregnazario, @hariria

[guides] Move transaction management
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/transaction-management.mdx
Owners: @gregnazario, @hariria

[format] Format files that weren't formatted
  apps/docusaurus/docs/nodes/full-node/network-identity-fullnode.md
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
Owners: @gregnazario, @hariria

[wallet-standards] Move wallet standard page
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
Owners: @gregnazario, @hariria, @0xmaayan

[advanced] Move multisig-managed to guides
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/multisig-managed-fungible-asset.mdx
Owners: @gregnazario, @hariria

[randomness] Move to smart contracts
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @gregnazario, @hariria, @movekevin

[randomness] Add Aptos Roll product name back in
  apps/nextra/pages/en/build/advanced-guides/randomness.mdx
Owners: @gregnazario, @hariria

[system-integrators-guide] Move to guides
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/build-e2e-dapp/4-fetch-data-from-chain.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/network/blockchain/events.mdx
  apps/nextra/pages/en/network/glossary.mdx
  apps/nextra/pages/en/network/nodes/building-from-source.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng

[guides] move sponsored transactions
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/sponsored-transactions.mdx
Owners: @gregnazario, @hariria

[advanced] Move key rotation to guides
  apps/nextra/pages/en/build/advanced-guides/_meta.tsx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/key-rotation.mdx
Owners: @gregnazario, @hariria

[white paper] Add languages in native text
  apps/nextra/pages/en/network/blockchain/aptos-white-paper.mdx
Owners: @gregnazario, @hariria

update redirects for new site
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[white paper] Add languages in native text
  apps/nextra/pages/en/network/blockchain/aptos-white-paper.mdx
Owners: @gregnazario, @hariria

update redirects for new site
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[scripts] Add scripts to nextra
  apps/nextra/public/scripts/install_cli.py
  apps/nextra/public/scripts/prover_setup.sh
Owners: @gregnazario, @hariria

[scripts] Add scripts to nextra
  apps/nextra/public/scripts/install_cli.py
  apps/nextra/public/scripts/prover_setup.sh
Owners: @gregnazario, @hariria

[banner] Remove preview from banner
  apps/nextra/theme.config.tsx
Owners: @gregnazario, @hariria

add cad to nav bar
  apps/nextra/pages/en/_meta.ts
Owners: @gregnazario, @hariria

Add cad to nav bar (#472)
  apps/nextra/pages/en/_meta.ts
Owners: @gregnazario, @hariria

[banner] Remove preview from banner
  apps/nextra/theme.config.tsx
Owners: @gregnazario, @hariria

fix create-aptos-dapp templates
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

Fix create-aptos-dapp templates (#473)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

[redirects] Fix top redirects from google searches
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[redirects] Fix top redirects from google searches
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

add tool gif
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/public/docs/cad-video.gif
Owners: @gregnazario, @hariria

update templates content
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

address feedback
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria

Add create-aptos-dapp preview gif and update templates content (#475)
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
  apps/nextra/public/docs/cad-video.gif
Owners: @gregnazario, @hariria

[nextra] Change max-height for menu dropdown
  apps/nextra/styles.css
Owners: @gregnazario, @hariria

[nextra] Fix keyless link on index page
  apps/nextra/components/landing/sections/BlockchainSection.tsx
Owners: @gregnazario, @hariria

[nextra] Smart Contracts (Move)
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/build/_meta.tsx
Owners: @gregnazario, @hariria

[nextra] Change from drand randomness link to aptos roll
  apps/nextra/components/landing/sections/BlockchainSection.tsx
Owners: @gregnazario, @hariria

[nextra] Change max-height for menu dropdown
  apps/nextra/styles.css
Owners: @gregnazario, @hariria

[nextra] Change from drand randomness link to aptos roll
  apps/nextra/components/landing/sections/BlockchainSection.tsx
Owners: @gregnazario, @hariria

[nextra] Smart Contracts (Move)
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/build/_meta.tsx
Owners: @gregnazario, @hariria

[nextra] Fix keyless link on index page
  apps/nextra/components/landing/sections/BlockchainSection.tsx
Owners: @gregnazario, @hariria

[nextra] References redirect
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
Owners: @gregnazario, @hariria, @movekevin

[nextra] References redirect
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
Owners: @gregnazario, @hariria, @movekevin

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario
