Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario

[cli] Fix broken use-cli links (#490)
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/prover-guide.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @movekevin

Fixed create_named_address argument from caller_address to caller
  apps/nextra/pages/en/build/smart-contracts/objects/creating-objects.mdx
Owners: @movekevin, @gregnazario

Fixed create_named_address argument from caller_address to caller (#491)
  apps/nextra/pages/en/build/smart-contracts/objects/creating-objects.mdx
Owners: @movekevin, @gregnazario

[Fix][en] Update script-tutorial.mdx
  apps/nextra/pages/en/build/smart-contracts/scripts/script-tutorial.mdx
Owners: @movekevin, @gregnazario

[Fix][en] Fix script run error (#492)
  apps/nextra/pages/en/build/smart-contracts/scripts/script-tutorial.mdx
Owners: @movekevin, @gregnazario

Fix typo inside move sec. guidelines (#488)
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
Owners: @movekevin, @gregnazario

[video] Add videos for Keyless and Randomness with Alin (#486)
  apps/nextra/components/index.tsx
  apps/nextra/components/media/index.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
Owners: @gregnazario, @hariria

[Nodes] Add small warning to snapshot bootstrapping (#489)
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
Owners: @rustielin, @aptos-labs/prod-eng

Address PR comments
  apps/nextra/pages/en/build/cli/trying-things-on-chain/ledger.mdx
Owners: @gregnazario, @hariria

nit fix surf
  apps/docusaurus/docs/sdks/ts-sdk/type-safe-contract.md
  apps/nextra/pages/en/build/sdks/ts-sdk/type-safe-contract.mdx
Owners: @gregnazario, @hariria, @0xmaayan

nit fix surf (#496)
  apps/docusaurus/docs/sdks/ts-sdk/type-safe-contract.md
  apps/nextra/pages/en/build/sdks/ts-sdk/type-safe-contract.mdx
Owners: @gregnazario, @hariria, @0xmaayan

fix error (doc:fetch-data-via-sdk.mdx):The second code block example, which is labeled as ; correct the erroneous syntax to a nested object.
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
Owners: @0xmaayan, @gregnazario

update (doc:fetch-data-via-sdk.mdx): Rename 'ntf_collection_info' to 'ledgerInfo' and remove unnecessary fields
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
Owners: @0xmaayan, @gregnazario

Update docs to reflect Apple mainnet support for keyless
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria

Update docs to reflect Apple mainnet support for keyless (#498)
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria

[redirects] Fix redirect loop for /move/book/summary
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

update to wallet aip-62 standard
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
Owners: @0xmaayan, @gregnazario

move wallet adapter to its own section
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/wallet-adapter.mdx
  apps/nextra/pages/en/build/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/wallet-adapter/wallet-standards.mdx
  apps/nextra/pages/en/build/wallet-adapter/wallets.mdx
Owners: @gregnazario, @hariria, @0xmaayan

[redirects] Fix redirect loop for /move/book/summary (#499)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Revert "move wallet adapter to its own section"
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @gregnazario, @hariria, @0xmaayan

Add Simple Example to top level
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
Owners: @gregnazario, @hariria

Update the Wallet Standard following AIP-62 (#500)
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallet-standards.mdx
Owners: @0xmaayan, @gregnazario

[keyless] Add keyless account caching and simple example (#483)
  apps/docusaurus/docs/aptos-keyless/integration-guide.md
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/simple-example.mdx
Owners: @gregnazario, @hariria

add biolerplate template documentation
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

[create-aptos-dapp] Add boilerplate template documentation (#501)
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Fix 404 links with redirects
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Run pnpm fmt
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
Owners: @gregnazario, @hariria, @movekevin

Run pnpm fmt
  apps/docusaurus/docs/nodes/full-node/network-identity-fullnode.md
Owners: @gregnazario, @hariria

add a Quick Start section to CAD templates
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

Add a Quick Start section to CAD templates (#503)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/fungible-asset.mdx
Owners: @gregnazario, @hariria

[Kaptos] update docs: - Added a section to cover the available configs across platforms
  apps/nextra/pages/en/build/sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/client-configuration.mdx
Owners: @0xmaayan, @gregnazario

reword...
  apps/nextra/pages/en/build/sdks/kotlin-sdk.mdx
Owners: @0xmaayan, @gregnazario

Remove unnecessary redirects
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Update remaining 404 pages with redirects (#502)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[deps] upgrade ws
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

Update create-aptos-dapp digital asset instructions (#504)
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/digital-asset.mdx
Owners: @gregnazario, @hariria

[nextra] Create custom error page for 404
  apps/nextra/components/error/Error.tsx
  apps/nextra/components/error/index.tsx
  apps/nextra/components/index.tsx
  apps/nextra/pages/404.tsx
Owners: @gregnazario, @hariria

reorganize adapter wallet implementation to first mention the new aip-62 standard
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @0xmaayan, @gregnazario

Add a paper citation to supporting-resources.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/supporting-resources.mdx
Owners: @movekevin, @gregnazario

[nextra] Create custom error page for 404
  apps/nextra/components/error/Error.tsx
  apps/nextra/components/error/index.tsx
  apps/nextra/components/index.tsx
  apps/nextra/pages/404.tsx
Owners: @gregnazario, @hariria
