Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Update custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Address additional compiler errors and warnings in a docs example
  apps/nextra/pages/en/build/smart-contracts/objects/creating-objects.mdx
Owners: @aptos-labs/move-eng

fix ts syntax error: to `faucetClient.fund.fund({ ... })`
  apps/nextra/pages/en/build/apis/faucet-api.mdx
Owners: @gregnazario, @hariria, @igor-p

Add .NET SDK docs
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/ed25519.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/getting-started.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/godot-integration.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/basic-transactions.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/sponsored-transactions.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/unity-integration.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

Fix the wrong query.
  apps/nextra/pages/en/build/indexer/token-metadata.mdx
Owners: @aptos-labs/ecosystem-infra

Fix the wrong query. (#637)
  apps/nextra/pages/en/build/indexer/token-metadata.mdx
Owners: @aptos-labs/ecosystem-infra

Add API reference and examples page
  apps/nextra/pages/en/build/sdks/dotnet-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/ed25519.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/keyless.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/multikey.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/dotnet-examples.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/getting-started.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[dotnet] Add .NET SDK docs (#635)
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/ed25519.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/keyless.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/accounts/multikey.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/dotnet-examples.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/getting-started.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/godot-integration.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/basic-transactions.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/sponsored-transactions.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/unity-integration.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[Kotlin SDK] doc update (#515)
  apps/nextra/pages/en/build/sdks/kotlin-sdk.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/client-configuration.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/for-ios-devs/_meta.tsx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/for-ios-devs/getting-started.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/quickstart.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Remove legacy SDK docs except for migration
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer/aptos-client.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer/indexer-client.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-core-layer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-plugins-layer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-tests.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/typescript-sdk-overview.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[links] Fix a couple links
  apps/nextra/pages/en/network/nodes/localnet/run-a-localnet.mdx
  apps/nextra/pages/zh/network/nodes/localnet/run-a-localnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

Update API link and spelling (#631)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @0xmaayan, @gregnazario, @hariria, @igor-p

[links] Fix a couple links (#640)
  apps/nextra/pages/en/network/nodes/localnet/run-a-localnet.mdx
  apps/nextra/pages/zh/network/nodes/localnet/run-a-localnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

[sdks] Remove legacy SDK docs except for migration (#639)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer/aptos-client.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-client-layer/indexer-client.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-core-layer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-plugins-layer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/sdk-tests.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/typescript-sdk-overview.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[CAD] Add CAD custom indexer template (#629)
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @gregnazario, @hariria, @igor-p, @0xmaayan

Address some compiler warnings and errors (#632)
  apps/nextra/pages/en/build/smart-contracts/objects/creating-objects.mdx
Owners: @aptos-labs/move-eng

Update oidc docs
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

fix TS syntax error: to `faucetClient.fund.fund({ ... })` (#636)
  apps/nextra/pages/en/build/apis/faucet-api.mdx
Owners: @gregnazario, @hariria, @igor-p

Updated Irys to use latest tooling / messaging
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/smart-contracts/aptos-token.mdx
  apps/nextra/utils/generated/localeMap.ts
Owners: @0xmaayan, @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

revert changes to locale map
  apps/nextra/utils/generated/localeMap.ts
Owners: @gregnazario, @hariria, @igor-p

Updated Irys to use latest tooling / messaging (#625)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/smart-contracts/aptos-token.mdx
Owners: @0xmaayan, @aptos-labs/move-eng

fix
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

add import
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

Update oidc docs (#641)
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

[network] Fix networks page to contain all information
  apps/nextra/pages/en/network/nodes/networks.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[integration-guides] Separate out integration guides, add exchange guide
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

[faucet] Replace faucet usage with the official SDKs instead
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @igor-p

[refactor] Remove system integrators guide from being referenced elsewhere
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/guides/build-e2e-dapp/4-fetch-data-from-chain.mdx
  apps/nextra/pages/en/network/blockchain/events.mdx
  apps/nextra/pages/en/network/nodes/building-from-source.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/en/network/nodes/networks.mdx
  apps/nextra/pages/zh/build/apis.mdx
  apps/nextra/pages/zh/build/apis/faucet-api.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/building-from-source.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/blockchain-eng, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[accounts] fix typo in accounts page
  apps/nextra/pages/en/network/blockchain/accounts.mdx
Owners: @aptos-labs/blockchain-eng

[smart-contracts] modify some code examples
  apps/nextra/pages/en/build/smart-contracts/objects/using-objects.mdx
Owners: @aptos-labs/move-eng

[exchanges] make final update to exchange guide
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

[refactor] Remove generated files
  .gitignore
  apps/nextra/next-env.d.ts
  apps/nextra/utils/generateLocaleMap.mts
  apps/nextra/utils/generated/localeMap.ts
Owners: @gregnazario, @hariria, @igor-p

[smart-contracts] modify some code examples (#644)
  apps/nextra/pages/en/build/smart-contracts/objects/using-objects.mdx
Owners: @aptos-labs/move-eng

[refactor] Remove generated files (#646)
  .gitignore
  apps/nextra/next-env.d.ts
  apps/nextra/utils/generateLocaleMap.mts
  apps/nextra/utils/generated/localeMap.ts
Owners: @gregnazario, @hariria, @igor-p

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
