Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

Update architecture explanation
  apps/nextra/pages/en/build/indexer/architecture.mdx
Owners: @banool

Update the transaction stream links
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/en/build/indexer/txn-stream.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
Owners: @gregnazario, @hariria, @banool

Update all broken links
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/legacy.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/_meta.tsx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
Owners: @gregnazario, @hariria, @banool

Add redirects
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

pnpm fmt
  apps/nextra/components/beta-notice/IndexerBetaNotice.tsx
Owners: @gregnazario, @hariria

update Prerequisites section to CAD readme
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria

[Swift SDK] add Swift SDK with Alcove (#518)
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/swift-sdk.mdx
Owners: @0xmaayan, @gregnazario

[nextra] Update the contribution section
  apps/nextra/pages/en/developer-platforms/contribute/setup/_meta.ts
  apps/nextra/pages/en/developer-platforms/contribute/setup/mdx.mdx
Owners: @gregnazario, @hariria

Update using with architecture card
  apps/nextra/pages/en/build/indexer.mdx
Owners: @gregnazario, @hariria

[nextra] Update the contribution section
  apps/nextra/pages/en/developer-platforms/contribute/setup/_meta.ts
  apps/nextra/pages/en/developer-platforms/contribute/setup/mdx.mdx
Owners: @gregnazario, @hariria

[nextra] Custom 404 for pages with corresponding locale
  apps/nextra/components/error/LocaleError.tsx
  apps/nextra/pages/404.tsx
  apps/nextra/utils/locale.ts
Owners: @gregnazario, @hariria

[nextra] Locale map custom script
  apps/nextra/.prettierignore
  apps/nextra/package.json
  apps/nextra/tsconfig.json
  apps/nextra/utils/generateLocaleMap.mts
  apps/nextra/utils/generated/localeMap.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

Fix typo
  apps/nextra/pages/en/build/indexer/_meta.tsx
Owners: @banool

use OKX wallet instead of Pontem for non aip-62 compatible wallets
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @0xmaayan, @gregnazario

Use OKX wallet instead of Pontem for a non aip-62 compatible wallet example (#536)
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @0xmaayan, @gregnazario

Update deploy to a live server section for the CAD templates
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

[Kotlin SDK] add docs for SPM artifact usage...
  apps/nextra/pages/en/build/sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/for-ios-devs/_meta.tsx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/for-ios-devs/getting-started.mdx
Owners: @0xmaayan, @gregnazario

fix token minting dapp docs
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

address comments
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

add token staking dapp docs
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

fix nft minting dapp docs
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
Owners: @gregnazario, @hariria

address comments
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

format content
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

[docusaurus] Update README.md, remove docusaurus, remove netlify.toml
  README.md
  netlify.toml
Owners: @gregnazario, @hariria

[nextra] Fix pnpm lint / prettier issue
  apps/nextra/pages/en/developer-platforms/contribute/setup/_meta.ts
Owners: @gregnazario, @hariria

[nextra] Fix pnpm lint / prettier issue
  apps/nextra/pages/en/developer-platforms/contribute/setup/_meta.ts
Owners: @gregnazario, @hariria

[docusaurus] Update README.md, remove docusaurus, remove netlify.toml
  README.md
  netlify.toml
Owners: @gregnazario, @hariria

Fix sample code typo to get account modules
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
Owners: @0xmaayan, @gregnazario

Update deploy to a live server section for the CAD templates (#537)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

Add Staking template docs (#530)
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

Update Aptos name
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/ans-lookup.mdx
Owners: @gregnazario, @hariria, @banool

Update architecture explanation
  apps/nextra/pages/en/build/indexer/architecture.mdx
Owners: @banool

Update architecture overview
  apps/nextra/pages/en/build/indexer/architecture.mdx
Owners: @banool

Apply wording suggestions from code review
  apps/nextra/pages/en/build/indexer/aptos-hosted.mdx
  apps/nextra/pages/en/build/indexer/custom-processors.mdx
Owners: @banool

Remove off-chain data
  apps/nextra/pages/en/build/indexer/custom-processors.mdx
Owners: @banool

Update coin balance to fungible asset
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/get-started.mdx
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/fungible-asset-balances.mdx
  apps/nextra/utils/generated/localeMap.ts
Owners: @gregnazario, @hariria, @banool

Update coin-info to fungible-asset-info
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/coin-info.mdx
  apps/nextra/pages/en/build/indexer/fungible-asset-info.mdx
  apps/nextra/utils/generated/localeMap.ts
Owners: @gregnazario, @hariria, @banool

Remove unnecessary plural
  apps/nextra/pages/en/build/indexer/fungible-asset-info.mdx
Owners: @banool

pnpm fmt
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Update Indexer Section (#532)
  apps/nextra/components/beta-notice/IndexerBetaNotice.tsx
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/get-started.mdx
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/ans-lookup.mdx
  apps/nextra/pages/en/build/indexer/api.mdx
  apps/nextra/pages/en/build/indexer/api/_meta.tsx
  apps/nextra/pages/en/build/indexer/api/labs-hosted.mdx
  apps/nextra/pages/en/build/indexer/aptos-hosted.mdx
  apps/nextra/pages/en/build/indexer/architecture.mdx
  apps/nextra/pages/en/build/indexer/coin-info.mdx
  apps/nextra/pages/en/build/indexer/custom-processors.mdx
  apps/nextra/pages/en/build/indexer/custom-processors/e2e-tutorial.mdx
  apps/nextra/pages/en/build/indexer/fungible-asset-balances.mdx
  apps/nextra/pages/en/build/indexer/fungible-asset-info.mdx
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
  apps/nextra/pages/en/build/indexer/legacy.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/indexer/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/txn-stream.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/_meta.tsx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/public/docs/indexer-architecture-dark.svg
  apps/nextra/public/docs/indexer-architecture-light.svg
  apps/nextra/public/docs/indexer-architecture.excalidraw
  apps/nextra/utils/generated/localeMap.ts
Owners: @gregnazario, @hariria, @banool, @movekevin

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario
