Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

Fix Grammar and Update Step Count (#710)
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
  apps/nextra/pages/en/build/smart-contracts/book/uses.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng

[nextra] Fix invalid prettier flag (#733)
  packages/aptos-nextra-components/package.json
Owners: @gregnazario, @hariria, @igor-p

Fix navigation and formatting in Build -> Smart Contracts (Move) -> Objects (#680)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/en/build/smart-contracts/object/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/object/creating-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/objects.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

Revert to dynamic image generation
  apps/nextra/pages/en/developer-platforms/contribute/setup/SEO.mdx
Owners: @gregnazario, @hariria, @igor-p

add faucet page gated by login
  apps/nextra/components/faucet/FaucetForm.tsx
  apps/nextra/components/faucet/index.tsx
  apps/nextra/components/landing/components/Icons.tsx
  apps/nextra/components/login-button/index.tsx
  apps/nextra/hooks/useAuth.ts
  apps/nextra/lib/firebase.ts
  apps/nextra/package.json
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/network/_meta.ts
  apps/nextra/pages/en/network/faucet.mdx
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

remove timestamp in faucet page
  apps/nextra/pages/en/network/_meta.ts
Owners: @gregnazario, @hariria, @igor-p

accept /network/faucet route, redirect to locale
  apps/nextra/middleware.ts
Owners: @gregnazario, @hariria, @igor-p

populate address from query param
  apps/nextra/components/faucet/FaucetForm.tsx
  apps/nextra/middleware.ts
Owners: @gregnazario, @hariria, @igor-p

update colors to work with light mode
  apps/nextra/components/faucet/FaucetForm.tsx
Owners: @gregnazario, @hariria, @igor-p

Adds a login-gated faucet page to Network section (#736)
  apps/nextra/components/faucet/FaucetForm.tsx
  apps/nextra/components/faucet/index.tsx
  apps/nextra/components/landing/components/Icons.tsx
  apps/nextra/components/login-button/index.tsx
  apps/nextra/hooks/useAuth.ts
  apps/nextra/lib/firebase.ts
  apps/nextra/middleware.ts
  apps/nextra/package.json
  apps/nextra/pages/en/_meta.ts
  apps/nextra/pages/en/network/_meta.ts
  apps/nextra/pages/en/network/faucet.mdx
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

hardcode /en/ when routing to /network/faucet
  apps/nextra/components/faucet/FaucetForm.tsx
  apps/nextra/middleware.ts
Owners: @gregnazario, @hariria, @igor-p

fix bug
  apps/nextra/components/faucet/FaucetForm.tsx
Owners: @gregnazario, @hariria, @igor-p

Faucet page error handling and locale redirect (#737)
  apps/nextra/components/faucet/FaucetForm.tsx
  apps/nextra/middleware.ts
Owners: @gregnazario, @hariria, @igor-p

remove middleware
  apps/nextra/middleware.ts
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

Remove middleware in favor of redirect in config (#738)
  apps/nextra/middleware.ts
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

Update Unity SDK docs to use AptosUnityClient instead
  apps/nextra/pages/en/build/sdks/dotnet-sdk/unity-integration.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[unity-sdk] Update Unity SDK docs to use AptosUnityClient (#739)
  apps/nextra/pages/en/build/sdks/dotnet-sdk/unity-integration.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/rotate-consensus-key.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

consensus key rotation (#727)
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes.mdx
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/_meta.tsx
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/rotate-consensus-key.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

remove github from faucet login for now
  apps/nextra/components/faucet/index.tsx
Owners: @gregnazario, @hariria, @igor-p

Remove github from faucet login for now (#740)
  apps/nextra/components/faucet/index.tsx
Owners: @gregnazario, @hariria, @igor-p

Add URL for token supply service to networks page with notice
  apps/nextra/pages/en/network/nodes/networks.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Add URL for token supply service to networks page with notice (#714)
  apps/nextra/pages/en/network/nodes/networks.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update docs to reflect that testnet faucet is not accessible programmatically
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/cli/trying-things-on-chain/create-test-accounts.mdx
  apps/nextra/pages/en/build/cli/working-with-move-contracts/arguments-in-json-tutorial.mdx
  apps/nextra/pages/en/build/guides/your-first-nft.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/quickstart.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/swift-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/basic-transactions.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/sponsored-transactions.mdx
  apps/nextra/pages/en/build/sdks/go-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/quickstart.mdx
  apps/nextra/pages/en/network/glossary.mdx
  apps/nextra/pages/en/network/nodes/networks.mdx
  apps/nextra/pages/zh/build/apis.mdx
  apps/nextra/pages/zh/build/apis/faucet-api.mdx
  apps/nextra/pages/zh/network/nodes/networks.mdx
  apps/nextra/public/robots.txt
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  apps/nextra/public/sitemap.xml
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[using-objects] modify events example
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
Owners: @aptos-labs/move-eng

fix typo
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
Owners: @aptos-labs/move-eng

fix typo
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
Owners: @aptos-labs/move-eng

add object resource group
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
Owners: @aptos-labs/move-eng

[using-objects] modify events example (#743)
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
Owners: @aptos-labs/move-eng

Update TESTNET -> DEVNET
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/batching-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/quickstart.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/type-safe-contract.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

One more
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

exclude /network/faucet path
  .github/workflows/link-check.yml
Owners: @gregnazario, @hariria, @igor-p

Update docs to reflect that testnet faucet is not accessible programmatically (#742)
  .github/workflows/link-check.yml
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/cli/trying-things-on-chain/create-test-accounts.mdx
  apps/nextra/pages/en/build/cli/working-with-move-contracts/arguments-in-json-tutorial.mdx
  apps/nextra/pages/en/build/guides/your-first-nft.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/quickstart.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/swift-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/basic-transactions.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/transactions/sponsored-transactions.mdx
  apps/nextra/pages/en/build/sdks/go-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/quickstart.mdx
  apps/nextra/pages/en/network/glossary.mdx
  apps/nextra/pages/en/network/nodes/networks.mdx
  apps/nextra/pages/zh/build/apis.mdx
  apps/nextra/pages/zh/build/apis/faucet-api.mdx
  apps/nextra/pages/zh/network/nodes/networks.mdx
  apps/nextra/public/robots.txt
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  apps/nextra/public/sitemap.xml
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update TESTNET -> DEVNET in the docs (#744)
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/batching-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/type-safe-contract.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

Update digital asset examples
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @aptos-labs/move-eng

get rid of "Run a PFN from Source Code or Docker" duplicate page
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/network/nodes/full-node/fullnode-source-code-or-docker.mdx
  apps/nextra/pages/zh/network/nodes/full-node/fullnode-source-code-or-docker.mdx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
Owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Remove duplicate page (Network -> Nodes -> Run a Public Fullnode -> Run a PFN from Source or Docker) (#747)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/network/nodes/full-node/fullnode-source-code-or-docker.mdx
  apps/nextra/pages/zh/network/nodes/full-node/fullnode-source-code-or-docker.mdx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
Owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update README.md
  README.md
Owners: @gregnazario, @hariria, @igor-p

fix: include type arguments for object transfer in cli example
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

update docs
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
