Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

Fix typo and broken links (#804)
  apps/nextra/pages/en/build/cli/public-network.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/cli/trying-things-on-chain/ledger.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/other.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
  apps/nextra/pages/en/build/guides/first-multisig.mdx
  apps/nextra/pages/en/build/guides/first-transaction.mdx
  apps/nextra/pages/en/build/guides/key-rotation.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/smart-contracts/book/package-upgrades.mdx
  apps/nextra/pages/en/build/smart-contracts/book/packages.mdx
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/spec-lang.mdx
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

[links] Remove broken Sei forum link
  apps/nextra/pages/en/network/blockchain/execution.mdx
Owners: @aptos-labs/blockchain-eng

[links] Remove broken Sei forum link (#806)
  apps/nextra/pages/en/network/blockchain/execution.mdx
Owners: @aptos-labs/blockchain-eng

Initial guide for Account Abstraction
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add complex example with digest
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[abstraction] Initial guide for Account Abstraction (#792)
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

add indices
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
Owners: @aptos-labs/ecosystem-infra

Update apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
Owners: @aptos-labs/ecosystem-infra

Add indices to Indexer API Reference (#805)
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
Owners: @aptos-labs/ecosystem-infra

Fix SDK interface error
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[AA] Fix parameter type error in the documentation (#807)
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

importing test transactions
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-importer.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

importing test transactions (#773)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-importer.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Update base-gas.mdx
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
Owners: @aptos-labs/blockchain-eng

fix: typos in documentation files (#809)
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
Owners: @aptos-labs/blockchain-eng

fix: update Twitter URL to x.com format
  apps/nextra/components/landing/sections/FooterSection.tsx
  apps/nextra/pages/en/developer-platforms/contribute/examples/pairings.mdx
  apps/nextra/pages/en/network/releases.mdx
Owners: @gregnazario, @hariria, @igor-p

Fix broken link and update installation instructions
  README.md
Owners: @gregnazario, @hariria, @igor-p

Fix broken link and update installation instructions (#810)
  README.md
  apps/nextra/components/landing/sections/FooterSection.tsx
  apps/nextra/pages/en/developer-platforms/contribute/examples/pairings.mdx
  apps/nextra/pages/en/network/releases.mdx
Owners: @gregnazario, @hariria, @igor-p

feat(docs): Improve README with enhanced badges and social links
  README.md
Owners: @gregnazario, @hariria, @igor-p

Update README.md
  README.md
Owners: @gregnazario, @hariria, @igor-p

Update README.md
  README.md
Owners: @gregnazario, @hariria, @igor-p

Clears up revoking
  apps/nextra/pages/en/build/sdks/ts-sdk/account/permissioned-signer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Renames Account Resource Permissions to Permissioned Signer
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/permissioned-signer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Initial draft
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-resource-permissions.mdx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
Owners: @gregnazario, @aptos-labs/developer-platform, @hariria, @igor-p

Initial draft of Permissioned Signer documentation
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/permissioned-signer.mdx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
Owners: @gregnazario, @aptos-labs/developer-platform, @hariria, @igor-p

Address alphabetical ordering for "J" terms within Glossary
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @igor-p

Address alphabetical ordering for "J" terms within Glossary (#816)
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @igor-p

[bcs] Add documentation for BCS
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/bcs.mdx
Owners: @aptos-labs/move-eng

[links] Update TS SDK links
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/other.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[links] Update TS SDK links (#818)
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/other.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[bcs] Add documentation for BCS (#817)
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/bcs.mdx
Owners: @aptos-labs/move-eng

generating test transactions with move script
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-importer.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-script.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

testing processor
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

prepare test transactions
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/test-transactions.mdx
Owners: @aptos-labs/ecosystem-infra

Update documentation for entry functions
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng

Update documentation for entry functions (#819)
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng

Remove firebase from list of OIDC provider
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

Remove firebase from list of OIDC provider (#820)
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.py
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p
