Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

Typo Update README.md (#691)
  README.md
Owners: @gregnazario, @hariria, @igor-p

Update apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update multi-agent-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add the documentation for the transaction simulation enhancement (#702)
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Fix Compatibility Issue with Object Property Check Update use-draw.ts
  apps/nextra/components/diagrams/use-draw.ts
Owners: @gregnazario, @hariria, @igor-p

Update migrating-from-docusaurus.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/migrating-from-docusaurus.mdx
Owners: @gregnazario, @hariria, @igor-p

Update book.mdx
  apps/nextra/pages/en/build/smart-contracts/book.mdx
Owners: @aptos-labs/move-eng

Fix typos and grammar in documentation (#709)
  apps/nextra/pages/en/build/smart-contracts/book.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/migrating-from-docusaurus.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

Update dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update uses.mdx
  apps/nextra/pages/en/build/smart-contracts/book/uses.mdx
Owners: @aptos-labs/move-eng

add Pyth to Aptos (#682)
  apps/nextra/pages/en/build/guides/oracles.mdx
Owners: @gregnazario, @hariria, @igor-p

Update connect-to-aptos-network.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/connect-to-aptos-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update connect-to-aptos-network.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/connect-to-aptos-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update connect-to-aptos-network.mdx (#711)
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/connect-to-aptos-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update bool.mdx
  apps/nextra/pages/en/build/smart-contracts/book/bool.mdx
Owners: @aptos-labs/move-eng

Update enums.mdx
  apps/nextra/pages/en/build/smart-contracts/book/enums.mdx
Owners: @aptos-labs/move-eng

Fix grammatical and syntax errors in Move documentation (#712)
  apps/nextra/pages/en/build/smart-contracts/book/bool.mdx
  apps/nextra/pages/en/build/smart-contracts/book/enums.mdx
Owners: @aptos-labs/move-eng

Insert access controll check for pause/unpause functionality inside the move sec. guidelines
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
Owners: @aptos-labs/move-eng

Insert access control check for pause/unpause functionality inside the move sec. guidelines (#713)
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
Owners: @aptos-labs/move-eng

Add URL for token supply service to networks page with notice
  apps/nextra/pages/en/network/nodes/networks.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update faq.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/faq.mdx
Owners: @0xmaayan

Update dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update view.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/queries/view.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update script-composer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update script-composer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

add docs for script composer (#696)
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update resources.mdx
  apps/nextra/pages/en/network/blockchain/resources.mdx
Owners: @aptos-labs/blockchain-eng

Update validator-node.mdx
  apps/nextra/pages/en/network/nodes/validator-node.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update validator-node.mdx
  apps/nextra/pages/zh/network/nodes/validator-node.mdx
Owners: @gregnazario, @hariria, @igor-p

Update resources.mdx
  apps/nextra/pages/en/network/blockchain/resources.mdx
Owners: @aptos-labs/blockchain-eng

fix navigation in build - smart contracts - objects pages
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/en/build/smart-contracts/object/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/object/creating-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/objects.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @gregnazario, @hariria, @igor-p

Link Contributor's Guide
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @gregnazario, @hariria, @igor-p

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
