Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

rm prerequisites
  apps/nextra/pages/en/build/guides/your-first-nft.mdx
Owners: @gregnazario, @hariria, @igor-p

My First NFT Guide Update (#838)
  apps/nextra/pages/en/build/guides/your-first-nft.mdx
Owners: @gregnazario, @hariria, @igor-p

Removed redundant line "Contents of a Transaction"
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

[links] Fix veiled coin link
  apps/nextra/pages/en/build/smart-contracts/cryptography.mdx
  apps/nextra/pages/zh/build/smart-contracts/cryptography.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

Removed redundant line in "Contents of a Transaction" (#855)
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

[deps] Update dependencies for security updates
  package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[links] Fix veiled coin link (#859)
  apps/nextra/pages/en/build/smart-contracts/cryptography.mdx
  apps/nextra/pages/zh/build/smart-contracts/cryptography.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

fix broken links
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
Owners: @aptos-labs/ecosystem-infra

[indexer] fix broken links (#861)
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
Owners: @aptos-labs/ecosystem-infra

Add Maps to documentation
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
  apps/nextra/pages/en/build/smart-contracts/smart-table.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

addressing review comments
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @aptos-labs/move-eng

distinguishing between resource and storage slot
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @aptos-labs/move-eng

Moving docs from zh to en
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/en/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

[move-book] Function Value Documentation
  apps/nextra/pages/zh/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/zh/build/smart-contracts/book/move-2.mdx
Owners: @gregnazario, @hariria, @igor-p

[function values] fix docs that were removed in merge changes
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

Addressing reviewer comments
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

[move-book] Function Value Documentation (#858)
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/en/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

Update node-requirements.mdx
  apps/nextra/pages/en/network/nodes/validator-node/node-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

adding SmartTable sections at the end
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @aptos-labs/move-eng

Update node-requirements.mdx (#863)
  apps/nextra/pages/en/network/nodes/validator-node/node-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

update migration
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/migration-guide.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @aptos-labs/ecosystem-infra

[indexer] Update quickstart + migration guides (#864)
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/migration-guide.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @aptos-labs/ecosystem-infra

[deps] Update dependencies for security updates (#860)
  package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Add Maps to documentation (#856)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
  apps/nextra/pages/en/build/smart-contracts/smart-table.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

fix: static/move-examples/my_first_dapp/client/package.json to reduce vulnerabilities
  static/move-examples/my_first_dapp/client/package.json
Owners: @gregnazario, @hariria, @igor-p

[cli] Update script to be more prescriptive about which version of the CLI to use
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

[link] Fix alin's blog rewrite link
  apps/nextra/pages/en/developer-platforms/contribute/examples/pairings.mdx
Owners: @gregnazario, @hariria, @igor-p

Update script-composer.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[link] Fix alin's blog rewrite link (#867)
  apps/nextra/pages/en/developer-platforms/contribute/examples/pairings.mdx
Owners: @gregnazario, @hariria, @igor-p

Update apps/nextra/public/scripts/install_cli.py
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

[cli] Update script to be more prescriptive about which version of th… (#866)
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

Update script-composer.mdx (#868)
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update multi-signature-tutorial.mdx
  apps/nextra/pages/en/build/cli/working-with-move-contracts/multi-signature-tutorial.mdx
Owners: @gregnazario

Update multi-signature-tutorial.mdx (#869)
  apps/nextra/pages/en/build/cli/working-with-move-contracts/multi-signature-tutorial.mdx
Owners: @gregnazario

Your First Transaction (#844)
  apps/nextra/pages/en/build/guides/first-transaction.mdx
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade vite to remove security warnings
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[npm] Add npm registry to npmrc
  .github/workflows/ci.yml
  .npmrc
Owners: @gregnazario, @hariria, @igor-p

Improving Multisig Tutorial for Clarity & Usability (#835)
  apps/nextra/pages/en/build/guides/first-multisig.mdx
  apps/nextra/public/docs/multisig_chart.svg
Owners: @gregnazario, @hariria, @igor-p

feat(docs): Improve README with enhanced badges and social links
  README.md
Owners: @gregnazario, @hariria, @igor-p

Update README.md
  README.md
Owners: @gregnazario, @hariria, @igor-p

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
