Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

[move book] Adding docs for 2.1 language release (#666)
  apps/nextra/pages/en/build/smart-contracts/book/SUMMARY.mdx
  apps/nextra/pages/en/build/smart-contracts/book/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/book/loops.mdx
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
Owners: @aptos-labs/move-eng

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/apis/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Create account.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account.mdx
Owners: @gregnazario, @hariria, @igor-p

[document] Add zh doucment Typescript-sdk / account.mdx (#668)
  apps/nextra/pages/zh/build/_meta.tsx
  apps/nextra/pages/zh/build/apis/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account.mdx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Create sdks.mdx
  apps/nextra/pages/zh/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

Update sdks.mdx
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

Update sdks.mdx
  apps/nextra/pages/zh/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

Update sdks.mdx
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

Update sdks.mdx
  apps/nextra/pages/zh/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

add more guides on re-indexing
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
Owners: @0xmaayan

Create smart-contracts.mdx
  apps/nextra/pages/zh/build/smart-contracts.mdx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Create create-aptos-dapp.mdx
  apps/nextra/pages/zh/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p

Update create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p

Create guides.mdx
  apps/nextra/pages/zh/build/guides.mdx
Owners: @gregnazario, @hariria, @igor-p

Create indexer.mdx
  apps/nextra/pages/zh/build/indexer.mdx
Owners: @gregnazario, @hariria, @igor-p

Update guides.mdx
  apps/nextra/pages/zh/build/guides.mdx
Owners: @gregnazario, @hariria, @igor-p

Update indexer.mdx
  apps/nextra/pages/zh/build/indexer.mdx
Owners: @gregnazario, @hariria, @igor-p

[redirect] Point move-2.0 to move-2
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

[redirect] Point move-2.0 to move-2 (#673)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

Update integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

Fix links
  apps/nextra/pages/en/network/blockchain/governance.mdx
Owners: @aptos-labs/blockchain-eng

Fix links (#676)
  apps/nextra/pages/en/network/blockchain/governance.mdx
Owners: @aptos-labs/blockchain-eng

Fix Terraform module source reference
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-aws.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-azure.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-aws.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-azure.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

Fix Terraform module source reference (#677)
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-aws.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-azure.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-aws.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-azure.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

Create sdks.mdx
  apps/nextra/pages/zh/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

Create indexer.mdx
  apps/nextra/pages/zh/build/indexer.mdx
Owners: @gregnazario, @hariria, @igor-p

Create guides.mdx
  apps/nextra/pages/zh/build/guides.mdx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

Update _meta.tsx
  apps/nextra/pages/zh/build/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

update CAD template links to point to Aptos Learn
  apps/nextra/pages/en/build/cli/start-from-template.mdx
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/clicker-game-tg-mini-app.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p, @0xmaayan

delete sidebar template links and add redirects
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p, @0xmaayan

format
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria, @igor-p

update CAD template links to point to Aptos Learn (#679)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/cli/start-from-template.mdx
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/clicker-game-tg-mini-app.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/custom-indexer.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p, @0xmaayan

add Pyth to Aptos
  apps/nextra/pages/en/build/guides/oracles.mdx
Owners: @gregnazario, @hariria, @igor-p

update disk requirement to 3TB SSD
  apps/nextra/pages/en/network/nodes/validator-node/node-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
