Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

formatting
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
Owners: @gregnazario, @hariria, @igor-p

Update digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @aptos-labs/move-eng

Update blockchain-deep-dive.mdx
  apps/nextra/pages/en/network/blockchain/blockchain-deep-dive.mdx
Owners: @aptos-labs/blockchain-eng

Change some headers and remove new lines
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @aptos-labs/ecosystem-infra

Update nodes.mdx
  apps/nextra/pages/en/network/nodes.mdx
Owners: @gregnazario, @hariria, @igor-p

Update delegated-staking.mdx
  apps/nextra/pages/en/network/blockchain/delegated-staking.mdx
Owners: @aptos-labs/blockchain-eng

Update gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @aptos-labs/blockchain-eng

Update pfn-requirements.mdx
  apps/nextra/pages/en/network/nodes/full-node/pfn-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update glossary.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @igor-p

Update node-liveness-criteria.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update state-sync.mdx
  apps/nextra/pages/en/network/nodes/configure/state-sync.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-files-mainnet.mdx
  apps/nextra/pages/en/network/nodes/configure/node-files-all-networks/node-files-mainnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-liveness-criteria.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update update-fullnode-with-new-releases.mdx
  apps/nextra/pages/en/network/nodes/full-node/modify/update-fullnode-with-new-releases.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update staking.mdx
  apps/nextra/pages/en/network/blockchain/staking.mdx
Owners: @aptos-labs/blockchain-eng

Update node-files-testnet.mdx
  apps/nextra/pages/en/network/nodes/configure/node-files-all-networks/node-files-testnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update leaderboard-metrics.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/leaderboard-metrics.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update fullnodes.mdx
  apps/nextra/pages/en/network/blockchain/fullnodes.mdx
Owners: @aptos-labs/blockchain-eng

Update data-pruning.mdx
  apps/nextra/pages/en/network/nodes/configure/data-pruning.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update staking-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update local-development-network.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update bootstrap-fullnode.mdx
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update staking.mdx
  apps/nextra/pages/en/network/blockchain/staking.mdx
Owners: @aptos-labs/blockchain-eng

Update delegated-staking.mdx
  apps/nextra/pages/en/network/blockchain/delegated-staking.mdx
Owners: @aptos-labs/blockchain-eng

Update node-health-checker.mdx
  apps/nextra/pages/en/network/nodes/measure/node-health-checker.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update using-gcp.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update base-gas.mdx
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
Owners: @aptos-labs/blockchain-eng

Update txns-states.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

Update node-files-devnet.mdx
  apps/nextra/pages/en/network/nodes/configure/node-files-all-networks/node-files-devnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update txns-states.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

Update delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Change wording
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @aptos-labs/ecosystem-infra

running processor
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/run-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Running an indexer processor (#768)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/run-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Allow installing specific version of CLI with installation script
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

define schema
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Defining an indexer data schema (#771)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Update gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @aptos-labs/blockchain-eng

Update base-gas.mdx
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
Owners: @aptos-labs/blockchain-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
