Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

[debug] Add a debug guide
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/debugging.mdx
Owners: @aptos-labs/move-eng

[lychee] Fix broken link for aptosconnect
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[lychee] Fix broken link for aptosconnect (#795)
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update AWS to GCP
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Add local network extra instructions
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Fix link to std library and update compiler v2 statement
  apps/nextra/pages/en/build/smart-contracts.mdx
  apps/nextra/pages/en/build/smart-contracts/book/standard-library.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

Fix link to std library and update compiler v2 statement (#790)
  apps/nextra/pages/en/build/smart-contracts.mdx
  apps/nextra/pages/en/build/smart-contracts/book/standard-library.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

updated vendor list
  apps/nextra/pages/en/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

[nextra] banner remove jp
  apps/nextra/theme.config.tsx
Owners: @gregnazario, @hariria, @igor-p

Apply suggestions from code review
  apps/nextra/theme.config.tsx
Owners: @gregnazario, @hariria, @igor-p

[nextra] banner remove jp (#800)
  apps/nextra/theme.config.tsx
Owners: @gregnazario, @hariria, @igor-p

reorganize indexer docs
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-api.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-api/account-transactions.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/ans-lookup.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/architecture.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/fungible-asset-balances.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/fungible-asset-info.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/get-delegators.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/get-nft-collections.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/get-nfts.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/token-metadata.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/_meta.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/parsing-txns.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/transaction-stream.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

fix links
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/get-started.mdx
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/indexer-api.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/architecture.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/parsing-txns.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @aptos-labs/move-eng, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

fix mdx -> tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/_meta.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/_meta.tsx
Owners: @aptos-labs/ecosystem-infra

reorganize indexer docs (#799)
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/get-started.mdx
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-api.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-api/account-transactions.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/ans-lookup.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/architecture.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/fungible-asset-balances.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/fungible-asset-info.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/get-delegators.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/get-nft-collections.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/get-nfts.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/indexer-api/token-metadata.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/define-schema.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/parsing-txns.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps/transaction-stream.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @aptos-labs/move-eng, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update GCP step typo (#796)
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[debug] Add a debug guide
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/debugging.mdx
Owners: @aptos-labs/move-eng

updated vendor list (#798)
  apps/nextra/pages/en/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

[debug] Add a debug guide (#793)
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/debugging.mdx
Owners: @aptos-labs/move-eng

Update local network instructions to specifically recommend Docker Desktop (#797)
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Replace zkSummit video with overview slides in "How keyless works:"
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
Owners: @gregnazario, @hariria, @igor-p

Update how-keyless-works.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
Owners: @gregnazario, @hariria, @igor-p

added keyless overview PNG
  apps/nextra/public/docs/aptos-keyless/keyless-overview.png
Owners: @gregnazario, @hariria, @igor-p

Replace zkSummit video with overview slides in "How keyless works" (#801)
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
  apps/nextra/public/docs/aptos-keyless/keyless-overview.png
Owners: @gregnazario, @hariria, @igor-p

Update packages.mdx
  apps/nextra/pages/en/build/smart-contracts/book/packages.mdx
Owners: @aptos-labs/move-eng

Update package-upgrades.mdx
  apps/nextra/pages/en/build/smart-contracts/book/package-upgrades.mdx
Owners: @aptos-labs/move-eng

Update spec-lang.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/spec-lang.mdx
Owners: @aptos-labs/move-eng

Update spec-lang.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/spec-lang.mdx
Owners: @aptos-labs/move-eng

Update randomness.mdx
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @aptos-labs/move-eng

Update move-security-guidelines.mdx
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
Owners: @aptos-labs/move-eng

Update ledger.mdx
  apps/nextra/pages/en/build/cli/trying-things-on-chain/ledger.mdx
Owners: @gregnazario

Update running-a-local-network.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
Owners: @gregnazario

Update public-network.mdx
  apps/nextra/pages/en/build/cli/public-network.mdx
Owners: @gregnazario

Update first-transaction.mdx
  apps/nextra/pages/en/build/guides/first-transaction.mdx
Owners: @gregnazario, @hariria, @igor-p

Update first-multisig.mdx
  apps/nextra/pages/en/build/guides/first-multisig.mdx
Owners: @gregnazario, @hariria, @igor-p

Update how-keyless-works.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
Owners: @gregnazario, @hariria, @igor-p

Update key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/key-considerations.mdx
Owners: @gregnazario, @hariria, @igor-p

Update other.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/other.mdx
Owners: @gregnazario, @hariria, @igor-p

Update key-rotation.mdx
  apps/nextra/pages/en/build/guides/key-rotation.mdx
Owners: @gregnazario, @hariria, @igor-p

Update system-integrators-guide.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
Owners: @gregnazario, @hariria, @igor-p
