Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

[node] Add statement on NTP requirement (#958)
  apps/nextra/pages/en/network/nodes/validator-node/node-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[i18n] Update Chinese guides for Aptos development
  apps/nextra/pages/zh/build/guides/_meta.tsx
  apps/nextra/pages/zh/build/guides/aptos-keyless.mdx
  apps/nextra/pages/zh/build/guides/build-e2e-dapp.mdx
  apps/nextra/pages/zh/build/guides/exchanges.mdx
  apps/nextra/pages/zh/build/guides/first-coin.mdx
  apps/nextra/pages/zh/build/guides/first-fungible-asset.mdx
  apps/nextra/pages/zh/build/guides/first-move-module.mdx
  apps/nextra/pages/zh/build/guides/first-multisig.mdx
Owners: @gregnazario, @hariria, @igor-p

Add software requirements section with NTP recommendation for time synchronization in validator node documentation
  apps/nextra/pages/zh/network/nodes/validator-node/node-requirements.mdx
Owners: @gregnazario, @hariria, @igor-p

Dispatchable FA docs fixes, remove security note.
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @aptos-labs/move-eng

Rename example function from init_module to initialize.
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @aptos-labs/move-eng

FA docs: consistent example module name.
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @aptos-labs/move-eng

Update zh docs with Google translate.
  apps/nextra/pages/zh/build/smart-contracts/fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

Update public-network.mdx
  apps/nextra/pages/en/build/cli/public-network.mdx
Owners: @gregnazario

remove a duplicated page
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials.mdx
Owners: @aptos-labs/ecosystem-infra

remove a duplicated page (#966)
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/advanced-tutorials.mdx
Owners: @aptos-labs/ecosystem-infra

update cross chain accounts doc to show testnet support
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update nft analytics page with new endpoint
  apps/nextra/pages/en/build/indexer/nft-aggregator/analytics-api.mdx
Owners: @aptos-labs/ecosystem-infra

Update cross chain accounts doc to show testnet support (#967)
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add utf-8 comment support
  apps/nextra/pages/en/build/smart-contracts/book/coding-conventions.mdx
Owners: @aptos-labs/move-eng

update cross chain wallets docs with crossChainWallets config step
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update cross chain wallets docs with `crossChainWallets` config step (#970)
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add utf-8 comment support (#971)
  apps/nextra/pages/en/build/smart-contracts/book/coding-conventions.mdx
Owners: @aptos-labs/move-eng

Update account_snippet.expect.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account_snippet.expect.md
Owners: @gregnazario, @hariria, @igor-p

Update account_snippet.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account_snippet.md
Owners: @gregnazario, @hariria, @igor-p

Update account.expect.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account.expect.md
Owners: @gregnazario, @hariria, @igor-p

Fix broken chain_id.md links in account documentation examples (#972)
  packages/aptos-nextra-components/src/utils/mdast/examples/account.expect.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account_snippet.expect.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account_snippet.md
Owners: @gregnazario, @hariria, @igor-p

Fa docs dispatchable fix (#964)
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/zh/build/smart-contracts/fungible-asset.mdx
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

[i18n] zh NTP requirement (#960)
  apps/nextra/pages/zh/network/nodes/validator-node/node-requirements.mdx
Owners: @gregnazario, @hariria, @igor-p

Fix typo in maps.mdx (#950)
  apps/nextra/pages/en/build/smart-contracts/maps.mdx
Owners: @aptos-labs/move-eng

Fix Resource docs' example: CoinStore, not Coin (#956)
  apps/nextra/pages/en/network/blockchain/resources.mdx
Owners: @aptos-labs/blockchain-eng

add docs for chainlink & switchboard
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/chainlink.mdx
  apps/nextra/pages/en/build/guides/pyth.mdx
  apps/nextra/pages/en/build/guides/switchboard.mdx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-ja.xml
Owners: @gregnazario, @hariria, @igor-p

add `simpler_bool_expression` doc to linter page
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Added docs for aborting_overflow_check lint
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Added assert_const documentation.
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

add ai chatbot
  .npmrc
  apps/nextra/.env.example
  apps/nextra/.npmrc
  apps/nextra/components/chat-widget/chat-dialog.tsx
  apps/nextra/components/chat-widget/chat-input.tsx
  apps/nextra/components/chat-widget/chat-message.tsx
  apps/nextra/components/chat-widget/chat-sidebar.tsx
  apps/nextra/components/chat-widget/index.tsx
  apps/nextra/components/chat-widget/types.ts
  apps/nextra/components/index.tsx
  apps/nextra/next.config.mjs
  apps/nextra/package.json
  apps/nextra/services/aptosBuildApi.ts
  apps/nextra/theme.config.tsx
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Update functions.mdx
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

Add FAQ to Aptos Fungible Asset (FA) Standard
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @aptos-labs/move-eng

Add `known_to_abort` documentation
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

[example] fix coin.balance -> coin.value
  apps/nextra/pages/en/build/smart-contracts/book/structs-and-resources.mdx
Owners: @aptos-labs/move-eng

[deps] Upgrade next to 14.2.30
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[links] Ignore Google cloud link, works, but not through CI
  .github/workflows/link-check.yml
Owners: @gregnazario, @hariria, @igor-p

[links] Ignore Google cloud link, works, but not through CI (#983)
  .github/workflows/link-check.yml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade next to 14.2.30 (#982)
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[example] fix coin.balance -> coin.value (#981)
  apps/nextra/pages/en/build/smart-contracts/book/structs-and-resources.mdx
Owners: @aptos-labs/move-eng

Add `simpler_bool_expression` documentation to linter page (#974)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng
