Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

Update index.md
  apps/docusaurus/docs/aptos-white-paper/index.md
Owners: @gregnazario, @hariria

update description
  apps/nextra/pages/en/build/sdks/swift-sdk.mdx
Owners: @0xmaayan, @gregnazario

Fix gas price explanation
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @gregnazario, @hariria

[refactor] Link all references to Octas to the glossary
  apps/docusaurus/docs/concepts/blockchain.md
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/guides/first-multisig.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
  apps/nextra/pages/en/network/blockchain/blockchain-deep-dive.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @banool, @0xmaayan

[refactor] Link all references to Octas to the glossary
  apps/docusaurus/docs/concepts/blockchain.md
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/guides/first-multisig.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
  apps/nextra/pages/en/network/blockchain/blockchain-deep-dive.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @banool, @0xmaayan

Fix gas price explanation
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @gregnazario, @hariria

update generate account with ts sdk docs
  apps/nextra/pages/en/build/sdks/ts-sdk/account.mdx
Owners: @0xmaayan, @gregnazario

Added cards and link with context to coin tutorial.
  apps/nextra/pages/en/build/guides.mdx
  apps/nextra/pages/en/build/guides/first-coin.mdx
Owners: @gregnazario, @hariria

Fix links
  apps/nextra/pages/en/build/guides.mdx
Owners: @gregnazario, @hariria

Add grouped cards for blockchain.mdx
  apps/nextra/pages/en/network/blockchain.mdx
Owners: @gregnazario, @hariria

offchain-data
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/build/offchain-data.mdx
  apps/nextra/public/screenshots/bq_sql.png
Owners: @gregnazario, @hariria

opinions on where page should be
  apps/nextra/pages/en/build/_meta.tsx
  apps/nextra/pages/en/build/apis/_meta.tsx
  apps/nextra/pages/en/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria

added raw tables to indexer
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
Owners: @banool

Off chain data (#527)
  apps/nextra/pages/en/build/apis/_meta.tsx
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
  apps/nextra/public/screenshots/bq_sql.png
Owners: @gregnazario, @hariria, @banool

Put all the cards in one section
  apps/nextra/pages/en/network/blockchain.mdx
Owners: @gregnazario, @hariria

Fix links
  apps/nextra/pages/en/build/guides.mdx
Owners: @gregnazario, @hariria

Added cards and link with context to coin tutorial.
  apps/nextra/pages/en/build/guides.mdx
  apps/nextra/pages/en/build/guides/first-coin.mdx
Owners: @gregnazario, @hariria

Add grouped cards for blockchain.mdx
  apps/nextra/pages/en/network/blockchain.mdx
Owners: @gregnazario, @hariria

Put all the cards in one section
  apps/nextra/pages/en/network/blockchain.mdx
Owners: @gregnazario, @hariria

change asset_id -> fa_address
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

change asset_id -> fa_address (#528)
  apps/docusaurus/docs/create-aptos-dapp/templates/fungible-asset.md
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

Tweak wording around wallet selector UI package docs
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @0xmaayan, @gregnazario

Update generate account with ts sdk docs (#525)
  apps/nextra/pages/en/build/sdks/ts-sdk/account.mdx
Owners: @0xmaayan, @gregnazario

Tweak wording around wallet selector UI package docs (#529)
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @0xmaayan, @gregnazario

[nextra] Locale map custom script
  apps/nextra/.prettierignore
  apps/nextra/package.json
  apps/nextra/tsconfig.json
  apps/nextra/utils/generateLocaleMap.mts
  apps/nextra/utils/generated/localeMap.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[nextra] Custom 404 for pages with corresponding locale
  apps/nextra/components/error/LocaleError.tsx
  apps/nextra/pages/404.tsx
  apps/nextra/utils/locale.ts
Owners: @gregnazario, @hariria

Update the table reference
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
Owners: @banool

Update the homepage for indexer
  apps/nextra/pages/en/build/indexer.mdx
Owners: @gregnazario, @hariria

Add context to the architecture page
  apps/nextra/pages/en/build/indexer/architecture.mdx
Owners: @banool

Fix link for Indexer Beta notice
  apps/nextra/components/beta-notice/IndexerBetaNotice.tsx
Owners: @gregnazario, @hariria

Update the indexer homepage
  apps/nextra/pages/en/build/indexer.mdx
Owners: @gregnazario, @hariria

Update labs-hosted page and links
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/indexer/api/_meta.tsx
  apps/nextra/pages/en/build/indexer/api/aptos-hosted.mdx
  apps/nextra/pages/en/build/indexer/api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/custom-processors/e2e-tutorial.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @gregnazario, @hariria, @banool, @movekevin

Update navigation and move aptos-hosted
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/api/_meta.tsx
  apps/nextra/pages/en/build/indexer/api/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/aptos-hosted.mdx
  apps/nextra/pages/en/build/indexer/custom-processors/e2e-tutorial.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @gregnazario, @hariria, @banool, @movekevin

Move self-hosted
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/api.mdx
  apps/nextra/pages/en/build/indexer/api/_meta.tsx
  apps/nextra/pages/en/build/indexer/aptos-hosted.mdx
  apps/nextra/pages/en/build/indexer/legacy/migration.mdx
  apps/nextra/pages/en/build/indexer/self-hosted.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/labs-hosted.mdx
Owners: @banool

Update the aptos-hosted page with sdk access
  apps/nextra/pages/en/build/indexer/aptos-hosted.mdx
Owners: @banool

Update indexer-reference intro
  apps/nextra/pages/en/build/indexer/indexer-reference.mdx
Owners: @banool

Update Custom Processors
  apps/nextra/pages/en/build/indexer/custom-processors.mdx
  apps/nextra/pages/en/build/indexer/custom-processors/e2e-tutorial.mdx
Owners: @banool

Update the architecture diagram and position in sidebar
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/architecture.mdx
  apps/nextra/public/docs/indexer-architecture-dark.svg
  apps/nextra/public/docs/indexer-architecture-light.svg
  apps/nextra/public/docs/indexer-architecture.excalidraw
Owners: @banool, @gregnazario, @hariria

Add (advanced)
  apps/nextra/pages/en/build/indexer/_meta.tsx
Owners: @banool

Simplify the landing page
  apps/nextra/pages/en/build/indexer.mdx
Owners: @gregnazario, @hariria

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario
