Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

additional logic for metadata lookup
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

[deps] Update vite, react, ts, and others / fix dependency warnings
  apps/nextra/package.json
  package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  packages/eslint-config/package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[generated] Update generated files
  apps/nextra/next-env.d.ts
Owners: @gregnazario, @hariria, @igor-p

revert eslint back to 8.x.x
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

Update dev deps and generated files (#642)
  apps/nextra/next-env.d.ts
  apps/nextra/package.json
  package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
  packages/aptos-nextra-config/package.json
  packages/eslint-config/package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[token] Remove reference to aptos token comparison
  apps/nextra/pages/en/build/smart-contracts/aptos-token.mdx
Owners: @aptos-labs/move-eng

[move] Improve documentation around named addresses
  apps/nextra/pages/en/build/smart-contracts/compiling.mdx
  apps/nextra/pages/en/build/smart-contracts/create-package.mdx
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

[move] Improve documentation around named addresses (#648)
  apps/nextra/pages/en/build/smart-contracts/compiling.mdx
  apps/nextra/pages/en/build/smart-contracts/create-package.mdx
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

[integration-guides] Separate out integration guides, add exchange guide (#633)
  apps/nextra/pages/en/build/apis.mdx
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/build-e2e-dapp/4-fetch-data-from-chain.mdx
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/network/blockchain/accounts.mdx
  apps/nextra/pages/en/network/blockchain/events.mdx
  apps/nextra/pages/en/network/glossary.mdx
  apps/nextra/pages/en/network/nodes/building-from-source.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/en/network/nodes/networks.mdx
  apps/nextra/pages/zh/build/apis.mdx
  apps/nextra/pages/zh/build/apis/faucet-api.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/building-from-source.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/blockchain-eng, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Move old Unity docs and add new docs
  apps/nextra/pages/en/build/sdks/community-sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/unity-opendive-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/unity-integration.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[unity] Move old Unity (OpenDive) docs and added the new Unity docs (#650)
  apps/nextra/pages/en/build/sdks/community-sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/unity-opendive-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/unity-integration.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[fix] fix #633
  apps/nextra/pages/en/build/apis/faucet-api.mdx
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

[token] Remove reference to aptos token comparison (#647)
  apps/nextra/pages/en/build/smart-contracts/aptos-token.mdx
Owners: @aptos-labs/move-eng

[nextra] Bump nextra to 3.0.7, fix mermaid, remove unneeded deps
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[nextra] Bump nextra to 3.0.7, fix mermaid, remove unneeded deps (#653)
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[sdks] Move Kotlin SDK to community SDKs, clean up images
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/client-configuration.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/getting-started.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[sdks] Update swift logo
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Reorder sdks on sidebar
  apps/nextra/pages/en/build/sdks/_meta.tsx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Reorder to keep those with more information at the top
  apps/nextra/pages/en/build/sdks/_meta.tsx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Fix kotlin SDK typo and links
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Add Kotlin and swift description to community SDKs
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Add community sdks to main sdks page
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Reorder wallet adapter to match sidebar
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Reorder to match on both SDKs page and sidebar
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[sdks] reorder sdks on landing page
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[links] Cleanup remaining wrong links
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/unity-opendive-sdk.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

Update randomness.mdx
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @aptos-labs/move-eng

Update randomness.mdx (#654)
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @aptos-labs/move-eng

[sdks] Remove Go snippet
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Move Kotlin SDK to community SDKs, clean up images
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/client-configuration.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/getting-started.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[sdks] Update swift logo
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Add community sdks to main sdks page
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Reorder to keep those with more information at the top
  apps/nextra/pages/en/build/sdks/_meta.tsx
Owners: @gregnazario, @aptos-labs/developer-platform

[links] Cleanup remaining wrong links
  apps/nextra/pages/en/build/guides/exchanges.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/unity-opendive-sdk.mdx
  apps/nextra/pages/en/build/sdks/unity-sdk.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/developer-platform

[sdks] reorder sdks on landing page
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Fix kotlin SDK typo and links
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/kotlin-sdk/for-ios-devs/aptos-kit.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[sdks] Reorder wallet adapter to match sidebar
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Remove Go snippet
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Add Kotlin and swift description to community SDKs
  apps/nextra/pages/en/build/sdks.mdx
Owners: @gregnazario, @hariria, @igor-p

[sdks] Reorder sdks on sidebar
  apps/nextra/pages/en/build/sdks/_meta.tsx
Owners: @gregnazario, @aptos-labs/developer-platform

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
