Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

Update delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Add the documentation for delegation pool allowlisting (#664)
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[dotnet] Add view functions docs (#663)
  apps/nextra/pages/en/build/sdks/dotnet-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/getting-started.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/queries/_meta.tsx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/queries/view.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update using-source-code.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-source-code.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update using-source-code.mdx (#665)
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-source-code.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

[move book] Adding docs for 2.1 language release
  apps/nextra/pages/en/build/smart-contracts/book/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/book/loops.mdx
  apps/nextra/pages/en/build/smart-contracts/book/move-2.0.mdx
Owners: @aptos-labs/move-eng

update to latest docs
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-federated-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-federated-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-federated-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-federated-keyless/other.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-federated-keyless/other.mdx
Owners: @gregnazario, @hariria, @igor-p

remove
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

remove callout
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

try this format
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

try this
  apps/nextra/pages/en/build/guides/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/other.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

update intro
  apps/nextra/pages/en/build/guides/aptos-keyless/introduction.mdx
Owners: @gregnazario, @hariria, @igor-p

initial integration
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

lint
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

fixnlink
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/key-considerations.mdx
Owners: @gregnazario, @hariria, @igor-p

fix
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

add steps
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

update oidc
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

update link
  apps/nextra/pages/en/build/guides/aptos-keyless/aptos-federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update dir name
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/other.mdx
Owners: @gregnazario, @hariria, @igor-p

fix
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless.mdx
Owners: @gregnazario, @hariria, @igor-p

Add warining
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

add consideration
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/key-considerations.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria, @igor-p

Add initial documentation for federated keyless accounts (#662)
  apps/nextra/pages/en/build/guides/aptos-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/key-considerations.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/other.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/introduction.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

update
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

Update OIDC table (#667)
  apps/nextra/pages/en/build/guides/aptos-keyless/oidc-support.mdx
Owners: @gregnazario, @hariria, @igor-p

[move book] Adding docs for 2.1 language release
  apps/nextra/pages/en/build/smart-contracts/book/SUMMARY.mdx
  apps/nextra/pages/en/build/smart-contracts/book/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/book/loops.mdx
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
Owners: @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
