Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

Update install_cli.py
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

scope wallet plugins to prior adapter versions
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix links
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Scope legacy plugin wallets to prior adapter versions (#822)
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

first draft of update
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

changed links to point to internal mdx files, added horizontal rules, updated filenames in code blocks
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

[move-book] Clarify bit shift semantics
  apps/nextra/pages/en/build/smart-contracts/book/integers.mdx
Owners: @aptos-labs/move-eng

[move-book] Clarify bit shift semantics (#823)
  apps/nextra/pages/en/build/smart-contracts/book/integers.mdx
Owners: @aptos-labs/move-eng

[move-book] Showcase receiver style syntax for generic functions
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

[move-book] Showcase receiver style syntax for generic functions (#824)
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

adding screenshots, still haven't built yet
  apps/nextra/pages/en/build/guides/first-move-module.mdx
  apps/nextra/public/screenshots/explorer_account.png
  apps/nextra/public/screenshots/explorer_coins.png
  apps/nextra/public/screenshots/explorer_devnet.png
  apps/nextra/public/screenshots/explorer_modules.png
  apps/nextra/public/screenshots/explorer_resources.png
  apps/nextra/public/screenshots/move_blockchain.png
Owners: @gregnazario, @hariria, @igor-p

finished checking draft, only missing Steps now
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

added Steps
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

readme setup fixes
  README.md
Owners: @gregnazario, @hariria, @igor-p

readme setup fixes (#827)
  README.md
Owners: @gregnazario, @hariria, @igor-p

update links
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-script.mdx
Owners: @aptos-labs/ecosystem-infra

testing processor
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

prepare test transactions
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/test-transactions.mdx
Owners: @aptos-labs/ecosystem-infra

ignored x.com so that the lychee will allow this to merge
  .github/workflows/link-check.yml
Owners: @gregnazario, @hariria, @igor-p

Update apps/nextra/pages/en/build/guides/first-move-module.mdx
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

Update apps/nextra/pages/en/build/guides/first-move-module.mdx
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

Update account.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account.md
Owners: @gregnazario, @hariria, @igor-p

Refine Your First Move Module intro & formatting cleanup
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

Add federated keyless example
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/simple-example.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/simple-example.mdx
Owners: @gregnazario, @hariria, @igor-p

Add federated keyless example (#831)
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/federated-keyless/simple-example.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/simple-example.mdx
Owners: @gregnazario, @hariria, @igor-p

Update unit-testing.mdx
  apps/nextra/pages/en/build/smart-contracts/book/unit-testing.mdx
Owners: @aptos-labs/move-eng

updated intro
  apps/nextra/pages/en/build/guides/first-move-module.mdx
Owners: @gregnazario, @hariria, @igor-p

First Move Module Update 1 (#826)
  .github/workflows/link-check.yml
  apps/nextra/pages/en/build/guides/first-move-module.mdx
  apps/nextra/public/screenshots/explorer_account.png
  apps/nextra/public/screenshots/explorer_coins.png
  apps/nextra/public/screenshots/explorer_devnet.png
  apps/nextra/public/screenshots/explorer_modules.png
  apps/nextra/public/screenshots/explorer_resources.png
  apps/nextra/public/screenshots/move_blockchain.png
Owners: @gregnazario, @hariria, @igor-p

initial updated draft
  apps/nextra/pages/en/build/guides/first-multisig.mdx
Owners: @gregnazario, @hariria, @igor-p

additional windows support and added screenshot for Devnet explorer
  apps/nextra/pages/en/build/guides/first-multisig.mdx
Owners: @gregnazario, @hariria, @igor-p

improved Next Steps links and formatting
  apps/nextra/pages/en/build/guides/first-multisig.mdx
Owners: @gregnazario, @hariria, @igor-p

Update the increase to 'minimum RLIMIT_NOFILE requirement' in the dev docs
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/aptos-db-restore.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @hariria, @igor-p

Set the open files limit to 1048576
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/aptos-db-restore.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @hariria, @igor-p

Update the increase to 'minimum RLIMIT_NOFILE requirement' in the dev docs (#836)
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/aptos-db-restore.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @hariria, @igor-p

first draft of update, tested
  apps/nextra/pages/en/build/guides/your-first-nft.mdx
Owners: @gregnazario, @hariria, @igor-p

[cli] Update CLI update script to use new version
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p

[snapshots] Remove polkachu snapshots
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
  apps/nextra/pages/zh/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

Fix grammar (#832)
  apps/nextra/pages/en/build/smart-contracts/book/unit-testing.mdx
Owners: @aptos-labs/move-eng

[snapshots] Remove polkachu snapshots (#841)
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
  apps/nextra/pages/zh/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

[cli] Update CLI update script to use new version (#840)
  apps/nextra/public/scripts/install_cli.py
Owners: @gregnazario, @hariria, @igor-p
