Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

Update fullnodes.mdx
  apps/nextra/pages/en/network/blockchain/fullnodes.mdx
Owners: @aptos-labs/blockchain-eng

Update txns-states.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

Update txns-states.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

Update base-gas.mdx
  apps/nextra/pages/en/network/blockchain/base-gas.mdx
Owners: @aptos-labs/blockchain-eng

Update staking.mdx
  apps/nextra/pages/en/network/blockchain/staking.mdx
Owners: @aptos-labs/blockchain-eng

Update delegated-staking.mdx
  apps/nextra/pages/en/network/blockchain/delegated-staking.mdx
Owners: @aptos-labs/blockchain-eng

Update nodes.mdx
  apps/nextra/pages/en/network/nodes.mdx
Owners: @gregnazario, @hariria, @igor-p

Update local-development-network.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update using-gcp.mdx
  apps/nextra/pages/en/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update staking-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-liveness-criteria.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update leaderboard-metrics.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/leaderboard-metrics.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update pfn-requirements.mdx
  apps/nextra/pages/en/network/nodes/full-node/pfn-requirements.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update update-fullnode-with-new-releases.mdx
  apps/nextra/pages/en/network/nodes/full-node/modify/update-fullnode-with-new-releases.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update bootstrap-fullnode.mdx
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update state-sync.mdx
  apps/nextra/pages/en/network/nodes/configure/state-sync.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update data-pruning.mdx
  apps/nextra/pages/en/network/nodes/configure/data-pruning.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-files-devnet.mdx
  apps/nextra/pages/en/network/nodes/configure/node-files-all-networks/node-files-devnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-files-mainnet.mdx
  apps/nextra/pages/en/network/nodes/configure/node-files-all-networks/node-files-mainnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-files-testnet.mdx
  apps/nextra/pages/en/network/nodes/configure/node-files-all-networks/node-files-testnet.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-health-checker.mdx
  apps/nextra/pages/en/network/nodes/measure/node-health-checker.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update glossary.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @igor-p

Update staking.mdx
  apps/nextra/pages/en/network/blockchain/staking.mdx
Owners: @aptos-labs/blockchain-eng

Update delegated-staking.mdx
  apps/nextra/pages/en/network/blockchain/delegated-staking.mdx
Owners: @aptos-labs/blockchain-eng

Update delegation-pool-operations.mdx
  apps/nextra/pages/en/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update node-liveness-criteria.mdx
  apps/nextra/pages/en/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

create processor
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Creating a processor (#760)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Add stablecoin addresses
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

Remove extra line
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

Add stablecoin addresses
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

Remove extra line
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

connect steps
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/connect-steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Connecting indexer SDK steps (#765)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/connect-steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/create-processor.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

Making compiler v2 default
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

Making compiler v2 default (#761)
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

Add note about the acquires annotation bug fix
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

Add note about the acquires annotation bug fix
  apps/nextra/pages/en/build/smart-contracts/book/move-2.mdx
Owners: @aptos-labs/move-eng

add content
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/version-tracking.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
