Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

Fix bug with aptos.queryIndexer example
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
Owners: @0xmaayan, @gregnazario

Fix sample code typo to get account modules
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
Owners: @0xmaayan, @gregnazario

Fix CAD templates wrong content
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

Update boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Fix CAD templates wrong content (#543)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

fix
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

fix
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

fix
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

Update CAD boilerplate template to include instruction on deploying contract (#546)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/boilerplate.mdx
Owners: @gregnazario, @hariria

[issues] Add content issue template
  .github/ISSUE_TEMPLATE/content_issue.yml
Owners: @gregnazario, @hariria

Fix typos
  apps/nextra/pages/en/build/guides/key-rotation.mdx
Owners: @gregnazario, @hariria

Fix relative links for renamed folder
  apps/nextra/pages/en/build/cli/trying-things-on-chain/ledger.mdx
Owners: @gregnazario, @hariria

[Nodes] Update PFN hardware requirements section.
  apps/nextra/pages/en/network/nodes/full-node/pfn-requirements.mdx
Owners: @rustielin, @aptos-labs/prod-eng

[Nodes] Remove out-of-date identity page.
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/network/nodes/identity-and-configuration.mdx
Owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng

[Nodes] Small improvements to the node pages. (#553)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/network/nodes/full-node/pfn-requirements.mdx
  apps/nextra/pages/en/network/nodes/identity-and-configuration.mdx
Owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng

[issues] Add content issue template (#548)
  .github/ISSUE_TEMPLATE/content_issue.yml
Owners: @gregnazario, @hariria

[issues] Fix issues
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/content_issue.yml
  .github/ISSUE_TEMPLATE/documentation_bug_report.md
Owners: @gregnazario, @hariria

[issues] Issue label workflow
  .github/workflows/issue-label.yml
Owners: @gregnazario, @hariria

address content feedback from previous PR
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

Address content feedback from previous PR (#555)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
Owners: @gregnazario, @hariria

Amend issues and workflow (#554)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/content_issue.yml
  .github/ISSUE_TEMPLATE/documentation_bug_report.md
  .github/workflows/issue-label.yml
Owners: @gregnazario, @hariria

[sdks] Add a community SDKs page
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/swift-sdk.mdx
Owners: @gregnazario, @hariria, @0xmaayan

[sdks] Add a community SDKs page
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/community-sdks.mdx
  apps/nextra/pages/en/build/sdks/community-sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/community-sdks/swift-sdk.mdx
Owners: @gregnazario, @hariria, @0xmaayan

update Prerequisites section to CAD readme
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria

[nextra] Remove prebuild
  apps/nextra/package.json
  package.json
Owners: @gregnazario, @hariria

[ci] linting workflow
  .github/workflows/ci.yml
  apps/nextra/utils/generated/localeMap.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @gregnazario, @hariria

[ci] linting workflow (#559)
  .github/workflows/ci.yml
  apps/nextra/utils/generated/localeMap.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Owners: @gregnazario, @hariria

Fix bug with aptos.queryIndexer example
  apps/nextra/pages/en/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
Owners: @0xmaayan, @gregnazario

update Prerequisites section to CAD readme
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria

chore: fix some comments
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @movekevin, @gregnazario

Update _meta.tsx to fix emtpy swfit sdk page
  apps/nextra/pages/en/build/sdks/_meta.tsx
Owners: @0xmaayan, @gregnazario

Update _meta.tsx to fix emtpy swfit sdk page
  apps/nextra/pages/en/build/sdks/_meta.tsx
Owners: @0xmaayan, @gregnazario

[nextra] Update the aptos learn links
  apps/nextra/pages/en/build/get-started/ethereum-cheatsheet.mdx
  apps/nextra/pages/en/build/get-started/solana-cheatsheet.mdx
Owners: @gregnazario, @hariria

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario
