Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

Add a paper reference to supporting-resources.mdx (#507)
  apps/nextra/pages/en/build/smart-contracts/prover/supporting-resources.mdx
Owners: @movekevin, @gregnazario

Add main page and browser-extension
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
Owners: @0xmaayan, @gregnazario

fix template content and rename templates
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

Add basic content for wallet adapter rewrite
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @0xmaayan, @gregnazario

Finishing touches on pages
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @0xmaayan, @gregnazario

pnpm fmt
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
Owners: @gregnazario, @hariria, @0xmaayan

update redirects
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[create-aptos-dapp] Fix template content and rename templates (#509)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
Owners: @gregnazario, @hariria

Fix PR comments
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @0xmaayan, @gregnazario

fix nft minting dapp template content
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
Owners: @gregnazario, @hariria

fix nft minting dapp template content
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
Owners: @gregnazario, @hariria

Fix broken redirect
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Fix broken redirect (#511)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Update the Wallet Adapter section (#508)
  apps/nextra/pages/en/build/create-aptos-dapp/templates/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/browser-extension-wallets.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @gregnazario, @hariria, @0xmaayan

update create-aptos-dapp command
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria

Update create-aptos-dapp command (#512)
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria

fix typo
  apps/docusaurus/docs/concepts/base-gas.md
Owners: @gregnazario, @hariria

fix typo
  apps/docusaurus/docs/concepts/blockchain.md
Owners: @gregnazario, @hariria

fix typo
  apps/docusaurus/docs/concepts/events.md
Owners: @gregnazario, @hariria

fix typos
  apps/docusaurus/docs/concepts/move.md
Owners: @gregnazario, @hariria

fix typos
  apps/docusaurus/docs/concepts/resources.md
Owners: @gregnazario, @hariria

fix typo
  apps/docusaurus/docs/concepts/staking.md
Owners: @gregnazario, @hariria

fix typo
  apps/docusaurus/docs/concepts/staking.md
Owners: @gregnazario, @hariria

Fix typos (#513)
  apps/docusaurus/docs/concepts/base-gas.md
  apps/docusaurus/docs/concepts/blockchain.md
  apps/docusaurus/docs/concepts/events.md
  apps/docusaurus/docs/concepts/move.md
  apps/docusaurus/docs/concepts/resources.md
  apps/docusaurus/docs/concepts/staking.md
Owners: @gregnazario, @hariria

[nextra] Turn off searchability in contribute section
  apps/nextra/pages/en/developer-platforms/contribute.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/callout.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/card.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/codeblock.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/filetree.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/graphql-editor.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/image.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/latex.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/link.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/markdown.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/mermaid.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/npm2yarn.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/organize-files.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/remote-codeblock.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/steps.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/table.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/tabs.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/themed-image.mdx
  apps/nextra/pages/en/developer-platforms/contribute/examples/pairings.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/SEO.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/analytics.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/deployment.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/docs-config.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/maintenance.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/migrating-from-docusaurus.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/organize-files-advanced.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/organize-files.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/troubleshooting.mdx
Owners: @gregnazario, @hariria

[nextra] Turn off searchability in contribute section (#514)
  apps/nextra/pages/en/developer-platforms/contribute.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/callout.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/card.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/codeblock.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/filetree.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/graphql-editor.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/image.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/latex.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/link.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/markdown.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/mermaid.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/npm2yarn.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/organize-files.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/remote-codeblock.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/steps.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/table.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/tabs.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/themed-image.mdx
  apps/nextra/pages/en/developer-platforms/contribute/examples/pairings.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/SEO.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/analytics.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/deployment.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/docs-config.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/maintenance.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/migrating-from-docusaurus.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/organize-files-advanced.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/organize-files.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/troubleshooting.mdx
Owners: @gregnazario, @hariria

[kotlin sdk] update docs
  apps/nextra/pages/en/build/sdks/kotlin-sdk.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/building-transactions.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/en/build/sdks/kotlin-sdk/quickstart.mdx
Owners: @0xmaayan, @gregnazario

add swift sdk docs...
  apps/nextra/pages/en/build/sdks.mdx
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/swift-sdk.mdx
  apps/nextra/pages/en/build/sdks/swift-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @0xmaayan

[nextra-components] Initialize package
  packages/aptos-nextra-components/.eslintignore
  packages/aptos-nextra-components/.gitignore
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/index.ts
  packages/aptos-nextra-components/src/test/index.tsx
  packages/aptos-nextra-components/tsconfig.json
  packages/aptos-nextra-components/tsup.config.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

Update apps/nextra/pages/en/build/sdks/swift-sdk.mdx
  apps/nextra/pages/en/build/sdks/swift-sdk.mdx
Owners: @0xmaayan, @gregnazario

Update apps/nextra/pages/en/build/sdks/swift-sdk/quickstart.mdx
  apps/nextra/pages/en/build/sdks/swift-sdk/quickstart.mdx
Owners: @0xmaayan, @gregnazario

[nextra-components] Add Card, themed-image, and utils
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/card/Card.tsx
  packages/aptos-nextra-components/src/card/index.tsx
  packages/aptos-nextra-components/src/index.ts
  packages/aptos-nextra-components/src/test/index.tsx
  packages/aptos-nextra-components/src/themed-image/ThemedImage.tsx
  packages/aptos-nextra-components/src/themed-image/index.tsx
  packages/aptos-nextra-components/src/utils/cn.ts
  packages/aptos-nextra-components/src/utils/index.ts
  packages/aptos-nextra-components/tsconfig.json
  packages/aptos-nextra-components/tsup.config.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

fix: indenting...
  apps/nextra/pages/en/build/sdks/swift-sdk/quickstart.mdx
Owners: @0xmaayan, @gregnazario

[nextra] Add spanish whitepaper
  apps/nextra/pages/en/network/blockchain/aptos-white-paper.mdx
Owners: @gregnazario, @hariria

[swift-sdk] update quickstart: - add complete demo code - indent
  apps/nextra/pages/en/build/sdks/swift-sdk/quickstart.mdx
Owners: @0xmaayan, @gregnazario

add example cards for Swift SDK Quickstart and iOS Demo
  apps/nextra/pages/en/build/sdks/swift-sdk.mdx
Owners: @0xmaayan, @gregnazario

[nextra-components] Add Card, themed-image, and utils
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/card/Card.tsx
  packages/aptos-nextra-components/src/card/index.tsx
  packages/aptos-nextra-components/src/index.ts
  packages/aptos-nextra-components/src/test/index.tsx
  packages/aptos-nextra-components/src/themed-image/ThemedImage.tsx
  packages/aptos-nextra-components/src/themed-image/index.tsx
  packages/aptos-nextra-components/src/utils/cn.ts
  packages/aptos-nextra-components/src/utils/index.ts
  packages/aptos-nextra-components/tsconfig.json
  packages/aptos-nextra-components/tsup.config.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[nextra-components] Initialize package
  packages/aptos-nextra-components/.eslintignore
  packages/aptos-nextra-components/.gitignore
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-components/src/index.ts
  packages/aptos-nextra-components/src/test/index.tsx
  packages/aptos-nextra-components/tsconfig.json
  packages/aptos-nextra-components/tsup.config.ts
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[nextra] Add spanish whitepaper
  apps/nextra/pages/en/network/blockchain/aptos-white-paper.mdx
Owners: @gregnazario, @hariria

[SDK] add Swift SDK with Alcove
  apps/nextra/pages/en/build/sdks/_meta.tsx
  apps/nextra/pages/en/build/sdks/swift-sdk.mdx
Owners: @0xmaayan, @gregnazario

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario
