Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

Update install_cli.ps1
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

fix install_cli.ps1 windows exit
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

[install_cli] fix install_cli.ps1 windows exit (#910)
  apps/nextra/public/scripts/install_cli.ps1
Owners: @gregnazario, @hariria, @igor-p

transaction size limits
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

transaction size limits (#912)
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
Owners: @aptos-labs/blockchain-eng

[cli] Add installation shell scripts rather than Python
  apps/nextra/pages/en/build/cli/install-cli/install-cli-linux.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-mac.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

[cli] Add installation shell scripts rather than Python (#911)
  apps/nextra/pages/en/build/cli/install-cli/install-cli-linux.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-mac.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Update troubleshooting.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/troubleshooting.mdx
Owners: @gregnazario, @hariria, @igor-p

Update Codeblock.tsx
  apps/nextra/components/codeblock/Codeblock.tsx
Owners: @gregnazario, @hariria, @igor-p

Update Tabs.tsx
  apps/nextra/components/tabs/Tabs.tsx
Owners: @gregnazario, @hariria, @igor-p

Update the Windows installation guide, simplify the PowerShell script, and add Scoop and Chocolatey installation options.
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
  apps/nextra/public/scoop/aptos.json
Owners: @gregnazario, @hariria, @igor-p

Update the Windows installation guide and add instructions for installing Aptos via a package manager.
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

fmt aptos.json
  apps/nextra/public/scoop/aptos.json
Owners: @gregnazario, @hariria, @igor-p

Fix typos in documentation and component comments (#913)
  apps/nextra/components/codeblock/Codeblock.tsx
  apps/nextra/components/tabs/Tabs.tsx
  apps/nextra/pages/en/developer-platforms/contribute/setup/troubleshooting.mdx
Owners: @gregnazario, @hariria, @igor-p

fmt aptos.json
  apps/nextra/public/scoop/aptos.json
Owners: @gregnazario, @hariria, @igor-p

Update the Windows installation guide and add instructions for installing Aptos via a package manager.
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

Update the Windows installation guide, simplify the PowerShell script, and add Scoop and Chocolatey installation options.
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
  apps/nextra/public/scoop/aptos.json
Owners: @gregnazario, @hariria, @igor-p

[cli] Update the Windows installation guide, simplify the PowerShell script… (#914)
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
  apps/nextra/public/scoop/aptos.json
Owners: @gregnazario, @hariria, @igor-p

add aur install script
  apps/nextra/pages/en/build/cli.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-linux.mdx
Owners: @gregnazario, @hariria, @igor-p

Update exchange guide with store deletion events
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

[cli] Modify the current CLI installation description and add an AUR installation script. (#915)
  apps/nextra/pages/en/build/cli.mdx
  apps/nextra/pages/en/build/cli/install-cli/install-cli-linux.mdx
Owners: @gregnazario, @hariria, @igor-p

fix: correct CLI documentation descriptions and formatting, update installation instructions, optimize language expression
  apps/nextra/pages/zh/build/cli.mdx
Owners: @gregnazario, @hariria, @igor-p

refactor: update references from confidentialCoin to confidentialAsset in SDK documentation
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

typos
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

sdk docs fixes
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

added links
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
Owners: @aptos-labs/move-eng

update links
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[docs] added docs for confidential asset contracts & sdk
  apps/nextra/pages/en/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
  apps/nextra/public/docs/ca-diagram-dark.png
  apps/nextra/public/docs/ca-diagram-light.png
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng, @hariria, @igor-p

refactor: confidential asset guide and method descriptions
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

typo
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[Linter] almost_swapped and self_assignment lint rules added to dev docs
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

[Linter] almost_swapped and self_assignment lint rules added to dev docs (#906)
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

[i18n] zh build/cli.mdx (#917)
  apps/nextra/pages/zh/build/cli.mdx
Owners: @gregnazario, @hariria, @igor-p

fix: package.json to reduce vulnerabilities
  package.json
Owners: @gregnazario, @hariria, @igor-p

fix: update zh build/install-cli/
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-linux.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-mac.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-specific-version.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario, @hariria, @igor-p
