Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @aptos-labs/developer-platform

Remove bad link
  apps/nextra/pages/en/build/apis/aptos-labs-developer-portal.mdx
Owners: @gregnazario, @hariria

Document the link check command
  .github/workflows/link-check.yml
Owners: @gregnazario, @hariria

Add TODO for GitHub auth
  .github/workflows/link-check.yml
Owners: @gregnazario, @hariria

fix account scheme mistake
  apps/nextra/pages/en/build/sdks/ts-sdk/account.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

add "Start from template" step under CLI -> Get Started
  apps/nextra/pages/en/build/cli/_meta.tsx
  apps/nextra/pages/en/build/cli/start-from-template.mdx
Owners: @gregnazario, @hariria

update content and wording
  apps/nextra/pages/en/build/cli/start-from-template.mdx
Owners: @gregnazario, @hariria

editorial fixes, update github code link, add callout backlink to templates
  apps/nextra/pages/en/build/cli/start-from-template.mdx
  apps/nextra/pages/en/build/smart-contracts/create-package.mdx
Owners: @gregnazario, @hariria

[nextra] Bump scalar to latest (causing issues with headless ui)
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[nextra] Bump scalar to latest (causing issues with headless ui)
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[nextra] Bump to alpha 37
  apps/nextra/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[nextra] Add getLocale() to theme.config.tsx
  apps/nextra/theme.config.tsx
Owners: @gregnazario, @hariria

[move book] Fix documentation errors about vectors, functions, etc (#594)
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
  apps/nextra/pages/en/build/smart-contracts/book/global-storage-operators.mdx
  apps/nextra/pages/en/build/smart-contracts/book/vector.mdx
Owners: @gregnazario, @hariria

Remove TODO
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria

Update link checker and fix all broken links (#596)
  .github/workflows/link-check.yml
  apps/nextra/pages/en/build/apis/data-providers.mdx
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/nft-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-minting-dapp.mdx
  apps/nextra/pages/en/build/create-aptos-dapp/templates/token-staking-dapp.mdx
  apps/nextra/pages/en/build/get-started.mdx
  apps/nextra/pages/en/build/get-started/ethereum-cheatsheet.mdx
  apps/nextra/pages/en/build/get-started/solana-cheatsheet.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
  apps/nextra/pages/en/build/guides/aptos-keyless/introduction.mdx
  apps/nextra/pages/en/build/guides/first-coin.mdx
  apps/nextra/pages/en/build/guides/first-transaction.mdx
  apps/nextra/pages/en/build/guides/sponsored-transactions.mdx
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/guides/your-first-nft.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/type-safe-contract.mdx
  apps/nextra/pages/en/build/smart-contracts.mdx
  apps/nextra/pages/en/build/smart-contracts/book/vector.mdx
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
  apps/nextra/pages/en/build/smart-contracts/resource-accounts.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/analytics.mdx
  apps/nextra/pages/en/network/blockchain/accounts.mdx
  apps/nextra/pages/en/network/blockchain/events.mdx
  apps/nextra/pages/en/network/blockchain/txns-states.mdx
  apps/nextra/pages/en/network/glossary.mdx
  apps/nextra/pages/en/network/nodes.mdx
  apps/nextra/pages/en/network/nodes/localnet.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/en/network/nodes/validator-node.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
  packages/aptos-nextra-components/src/utils/mdast/examples/account.expect.md
  packages/aptos-nextra-components/src/utils/mdast/examples/account.md
  packages/aptos-nextra-components/src/utils/mdast/examples/keyRotation.expect.md
  packages/aptos-nextra-components/src/utils/mdast/examples/keyRotation.md
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
  packages/aptos-nextra-components/src/utils/mdast/mdast.ts
Owners: @gregnazario, @hariria, @aptos-labs/developer-platform, @rustielin, @aptos-labs/prod-eng

Add "Start from template" step under CLI -> Get Started (#590)
  apps/nextra/pages/en/build/cli/_meta.tsx
  apps/nextra/pages/en/build/cli/start-from-template.mdx
  apps/nextra/pages/en/build/smart-contracts/create-package.mdx
Owners: @gregnazario, @hariria

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform
