Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

fix: Include type arguments for object transfer in cli example (#750)
  apps/nextra/pages/en/build/smart-contracts/deployment.mdx
Owners: @aptos-labs/move-eng

remove custom config for faucet page
  apps/nextra/pages/en/network/_meta.ts
  apps/nextra/pages/en/network/faucet.mdx
Owners: @gregnazario, @hariria, @igor-p

Update digital asset examples (#746)
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @aptos-labs/move-eng

[deps] Upgrade pnpm, node, github actions
  .github/workflows/ci.yml
  .github/workflows/close-stale-issues.yaml
  .github/workflows/issue-label-tag.yml
  .github/workflows/semgrep.yaml
  .tool-versions
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[build] Fix order for warning on types
  packages/aptos-nextra-config/package.json
Owners: @gregnazario, @hariria, @igor-p

[deps] Fix security audit dependencies
  apps/nextra/package.json
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Update node in nextra
  packages/aptos-nextra-config/package.json
Owners: @gregnazario, @hariria, @igor-p

[deps] Fix security audit dependencies
  apps/nextra/package.json
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Update node in nextra
  packages/aptos-nextra-config/package.json
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade pnpm, node, github actions
  .github/workflows/ci.yml
  .github/workflows/close-stale-issues.yaml
  .github/workflows/issue-label-tag.yml
  .github/workflows/semgrep.yaml
  .tool-versions
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[build] Fix order for warning on types
  packages/aptos-nextra-config/package.json
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade most dependencies except Next.js and React to latest
  apps/nextra/package.json
  package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  packages/eslint-config/package.json
  packages/github-fetch/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] upgrade prettier
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade turbo, add sharp for image optimization
  apps/nextra/package.json
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade typescript to 5.7.2
  apps/nextra/package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade nextra
  apps/nextra/package.json
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Update nextra to latest
  apps/nextra/components/api-reference/ApiReference.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/MoveReferenceProvider.tsx
  apps/nextra/pages/404.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

[deps] Upgrade nextra
  apps/nextra/package.json
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade turbo, add sharp for image optimization
  apps/nextra/package.json
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade typescript to 5.7.2
  apps/nextra/package.json
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Update nextra to latest
  apps/nextra/components/api-reference/ApiReference.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/MoveReferenceProvider.tsx
  apps/nextra/pages/404.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
  packages/aptos-nextra-components/package.json
  packages/aptos-nextra-config/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

[deps] upgrade prettier
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

feat: add beneficiary entity
  apps/nextra/pages/en/network/blockchain/delegated-staking.mdx
Owners: @aptos-labs/blockchain-eng

feat: add beneficiary entity
  apps/nextra/pages/en/network/blockchain/delegated-staking.mdx
Owners: @aptos-labs/blockchain-eng

indexer sdk
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/custom-processors.mdx
  apps/nextra/pages/en/build/indexer/custom-processors/e2e-tutorial.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/parsing-txns.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add initial setup page
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

fix lint
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @aptos-labs/ecosystem-infra, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @hariria, @igor-p

add steps page
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

remove documentation.mdx
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

feedback
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
Owners: @aptos-labs/ecosystem-infra

fix links
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/indexer/architecture.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/parsing-txns.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Add section for Indexer SDK (#756)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/cli/running-a-local-network.mdx
  apps/nextra/pages/en/build/indexer.mdx
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/architecture.mdx
  apps/nextra/pages/en/build/indexer/custom-processors.mdx
  apps/nextra/pages/en/build/indexer/custom-processors/e2e-tutorial.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/parsing-txns.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/setup.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation/steps.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/quickstart.mdx
  apps/nextra/pages/en/build/indexer/txn-stream/aptos-hosted-txn-stream.mdx
  apps/nextra/pages/en/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Update digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
Owners: @aptos-labs/move-eng

sdk documentation
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/public/docs/indexer-custom-processor-dark.svg
  apps/nextra/public/docs/indexer-custom-processor-light.svg
  apps/nextra/public/docs/indexer-custom-processor.excalidraw
Owners: @aptos-labs/ecosystem-infra, @gregnazario, @hariria, @igor-p

fix links
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
Owners: @aptos-labs/ecosystem-infra

Indexer SDK introduction (#759)
  apps/nextra/pages/en/build/indexer/indexer-sdk/documentation.mdx
  apps/nextra/public/docs/indexer-custom-processor-dark.svg
  apps/nextra/public/docs/indexer-custom-processor-light.svg
  apps/nextra/public/docs/indexer-custom-processor.excalidraw
Owners: @aptos-labs/ecosystem-infra, @gregnazario, @hariria, @igor-p

Making compiler v2 default
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
  packages/aptos-nextra-components/src/utils/mdast/mdast.test.ts
Owners: @aptos-labs/move-eng, @gregnazario, @hariria, @igor-p

Update gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @aptos-labs/blockchain-eng

Update blockchain-deep-dive.mdx
  apps/nextra/pages/en/network/blockchain/blockchain-deep-dive.mdx
Owners: @aptos-labs/blockchain-eng

Update gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @aptos-labs/blockchain-eng
