Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng

chore: fix 404 status URL
  apps/nextra/components/landing/components/CodeBlock.tsx
Owners: @gregnazario, @hariria, @igor-p

[creating-objects] fix one time transfers example
  apps/nextra/pages/en/build/smart-contracts/objects/creating-objects.mdx
Owners: @aptos-labs/move-eng

fix: static/move-examples/my_first_dapp/client/package.json to reduce vulnerabilities
  static/move-examples/my_first_dapp/client/package.json
Owners: @gregnazario, @hariria, @igor-p

Update bootstrap-fullnode.mdx
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

Add close time
  apps/nextra/pages/en/network/blockchain/execution.mdx
  apps/nextra/pages/en/network/blockchain/node-networks-sync.mdx
Owners: @aptos-labs/blockchain-eng

consensus key rotation
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes.mdx
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/_meta.tsx
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/rotate-consensus-key.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

typo fixes
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/rotate-consensus-key.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

typo fixes
  apps/nextra/pages/en/network/nodes/validator-node/modify-nodes/rotate-consensus-key.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

add view source button to move reference page
  apps/nextra/components/move-reference/ModuleSelectContainer.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/index.tsx
  apps/nextra/components/move-reference/shared.ts
  apps/nextra/public/docs/github-dark.svg
  apps/nextra/public/docs/github-light.svg
Owners: @gregnazario, @hariria, @igor-p

lint
  apps/nextra/components/move-reference/ModuleSelectContainer.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/shared.ts
Owners: @gregnazario, @hariria, @igor-p

show correct module in move reference section on load
  apps/nextra/components/move-reference/ModuleContainer.tsx
Owners: @gregnazario, @hariria, @igor-p

[Move reference] show correct module in dropdown on page load (#729)
  apps/nextra/components/move-reference/ModuleContainer.tsx
Owners: @gregnazario, @hariria, @igor-p

Update first-fungible-asset
  apps/nextra/pages/en/build/guides/first-fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

Update node-networks-sync.mdx
  apps/nextra/pages/en/network/blockchain/node-networks-sync.mdx
Owners: @aptos-labs/blockchain-eng

Update resources.mdx
  apps/nextra/pages/en/network/blockchain/resources.mdx
Owners: @aptos-labs/blockchain-eng

Update ts-sdk.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

correct typo Update guides.mdx
  apps/nextra/pages/en/build/guides.mdx
Owners: @gregnazario, @hariria, @igor-p

Update SEO.mdx
  apps/nextra/pages/en/developer-platforms/contribute/setup/SEO.mdx
Owners: @gregnazario, @hariria, @igor-p

[creating-objects] fix one time transfers example (#719)
  apps/nextra/pages/en/build/smart-contracts/objects/creating-objects.mdx
Owners: @aptos-labs/move-eng

fix navigation in build - smart contracts - objects pages
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/en/build/smart-contracts/object/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/object/creating-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/objects.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

Use relative links
  apps/nextra/pages/en/build/guides/first-fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

lint
  apps/nextra/components/move-reference/ModuleSelectContainer.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/shared.ts
Owners: @gregnazario, @hariria, @igor-p

add view source button to move reference page
  apps/nextra/components/move-reference/ModuleSelectContainer.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/index.tsx
  apps/nextra/components/move-reference/shared.ts
  apps/nextra/public/docs/github-dark.svg
  apps/nextra/public/docs/github-light.svg
Owners: @gregnazario, @hariria, @igor-p

shrink font
  apps/nextra/components/move-reference/MoveReference.tsx
Owners: @gregnazario, @hariria, @igor-p

[Move reference] Add view source button to Move Reference section (#728)
  apps/nextra/components/move-reference/ModuleSelectContainer.tsx
  apps/nextra/components/move-reference/MoveReference.tsx
  apps/nextra/components/move-reference/index.tsx
  apps/nextra/components/move-reference/shared.ts
  apps/nextra/public/docs/github-dark.svg
  apps/nextra/public/docs/github-light.svg
Owners: @gregnazario, @hariria, @igor-p

Change to local links
  apps/nextra/pages/en/build/guides/first-fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

Update to block time
  apps/nextra/pages/en/network/blockchain/execution.mdx
  apps/nextra/pages/en/network/blockchain/node-networks-sync.mdx
Owners: @aptos-labs/blockchain-eng

Add close time (#721)
  apps/nextra/pages/en/network/blockchain/execution.mdx
  apps/nextra/pages/en/network/blockchain/node-networks-sync.mdx
Owners: @aptos-labs/blockchain-eng

Update bootstrap-fullnode.mdx (#720)
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode.mdx
Owners: @rustielin, @michelle-aptos, @aptos-labs/prod-eng

chore: fix 404 status URL (#718)
  apps/nextra/components/landing/components/CodeBlock.tsx
Owners: @gregnazario, @hariria, @igor-p

Update PR template (#717)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @gregnazario, @hariria, @igor-p

Fix typos and improve grammar in `resources.mdx`, `validator-node.mdx`, and `validator-node.md` (#716)
  apps/nextra/pages/en/network/blockchain/resources.mdx
  apps/nextra/pages/en/network/nodes/validator-node.mdx
  apps/nextra/pages/zh/network/nodes/validator-node.mdx
Owners: @aptos-labs/blockchain-eng, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @gregnazario, @hariria, @igor-p

📝 Documentation Grammar and Clarity Improvements (#715)
  apps/nextra/pages/en/build/create-aptos-dapp/faq.mdx
  apps/nextra/pages/en/build/sdks/dotnet-sdk/queries/view.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @0xmaayan, @gregnazario, @aptos-labs/developer-platform

Update first-fungible-asset (#730)
  apps/nextra/pages/en/build/guides/first-fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p

temp - add wallet integration guide
  apps/nextra/pages/en/build/guides/wallets.mdx
Owners: @gregnazario, @hariria, @igor-p

fix navigation in build - smart contracts - objects pages
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/digital-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
  apps/nextra/pages/en/build/smart-contracts/object/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/object/creating-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/object/using-objects.mdx
  apps/nextra/pages/en/build/smart-contracts/objects.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

fixup: Fix formatting
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
Owners: @aptos-labs/move-eng

[nextra] Fix invalid prettier flag
  packages/aptos-nextra-components/package.json
Owners: @gregnazario, @hariria, @igor-p

[links] Fix next documentation link
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
Owners: @gregnazario, @hariria, @igor-p

[links] Fix next documentation link (#734)
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
Owners: @gregnazario, @hariria, @igor-p
