Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @rustielin, @aptos-labs/prod-eng, @banool, @0xmaayan, @movekevin

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @banool

## SDKs
apps/nextra/pages/en/build/sdks/** @0xmaayan @gregnazario

## Move
apps/nextra/pages/en/build/smart-contracts/** @movekevin @gregnazario

Delete apps/nextra/pages/en/network/debug.log
  apps/nextra/pages/en/network/debug.log
Owners: @gregnazario, @hariria

update new Zh meta
  apps/nextra/pages/zh/_meta.ts
Owners: @gregnazario, @hariria

Update to new
  apps/nextra/pages/zh/build/cli/_meta.tsx
  apps/nextra/pages/zh/build/cli/install-cli.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-specific-version.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/build/cli/setup-cli.mdx
  apps/nextra/pages/zh/build/cli/setup-cli/install-move-prover.mdx
  apps/nextra/pages/zh/build/cli/trying-things-on-chain/create-test-accounts.mdx
  apps/nextra/pages/zh/build/cli/trying-things-on-chain/ledger.mdx
  apps/nextra/pages/zh/build/cli/trying-things-on-chain/looking-up-account-info.mdx
  apps/nextra/pages/zh/build/cli/working-with-move-contracts.mdx
  apps/nextra/pages/zh/build/cli/working-with-move-contracts/local-simulation-benchmarking-and-gas-profiling.mdx
Owners: @gregnazario, @hariria

fix fmt
  apps/nextra/docs.config.js
Owners: @gregnazario, @hariria

translate docs(aptos-developer-docs\apps\nextra\pages\en\build\cli):en to zh './'(file only), '../cli.mdx' and '../network/nodes/nodes.mdx'
  apps/nextra/pages/zh/_meta.ts
  apps/nextra/pages/zh/build/cli.mdx
  apps/nextra/pages/zh/build/cli/install-cli.mdx
  apps/nextra/pages/zh/build/cli/managing-a-network-node.mdx
  apps/nextra/pages/zh/build/cli/public-network.mdx
  apps/nextra/pages/zh/build/cli/replay-past-transactions.mdx
  apps/nextra/pages/zh/build/cli/running-a-local-network.mdx
  apps/nextra/pages/zh/build/cli/setup-cli.mdx
  apps/nextra/pages/zh/build/cli/trying-things-on-chain.mdx
  apps/nextra/pages/zh/build/cli/use-cli.mdx
  apps/nextra/pages/zh/build/cli/working-with-move-contracts.mdx
  apps/nextra/pages/zh/index.mdx
  apps/nextra/pages/zh/network/nodes.mdx
Owners: @gregnazario, @hariria

fix ui(zh/_meta.ts): update menu (#11)
  apps/nextra/pages/cli.mdx#️-using-the-aptos-cli.md
  apps/nextra/pages/zh/_meta.ts
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-linux.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-specific-version.mdx
  apps/nextra/pages/zh/build/cli/setup-cli.mdx
  apps/nextra/pages/zh/network/nodes/building-from-source.mdx
  apps/nextra/pages/zh/network/nodes/localnet.mdx
  apps/nextra/pages/zh/network/nodes/localnet/run-a-localnet.mdx
  apps/nextra/pages/zh/network/nodes/networks.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/staking-pool-voter.mdx
Owners: @gregnazario, @hariria

fix: build error rm cli.mdx
  apps/nextra/.env.example
  apps/nextra/pages/cli.mdx#️-using-the-aptos-cli.md
Owners: @gregnazario, @hariria

fix: ssg update
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
Owners: @gregnazario, @hariria

Translate documentation (developer-docs/apps/nextra/pages/en/network/nodes/): English to Chinese, ['./','./configure','./bootstrap-fullnode']
  apps/nextra/pages/zh-cn/network/nodes/bootstrap-fullnode/aptos-db-restore.mdx
  apps/nextra/pages/zh-cn/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/data-pruning.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/node-files-all-networks.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/node-files-all-networks/node-files-devnet.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/node-files-all-networks/node-files-mainnet.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/node-files-all-networks/node-files-testnet.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/state-sync.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/telemetry.mdx
Owners: @gregnazario, @hariria

translate docs(aptos-developer-docs\apps\nextra\pages\en\network\nodes):'./vaildator-node(file only)','./measure'
  apps/nextra/pages/en/developer-platforms/contribute/components/ssg.mdx
  apps/nextra/pages/zh/network/nodes/configure.mdx
  apps/nextra/pages/zh/network/nodes/full-node.mdx
  apps/nextra/pages/zh/network/nodes/measure/important-metrics.mdx
  apps/nextra/pages/zh/network/nodes/measure/node-health-checker-faq.mdx
  apps/nextra/pages/zh/network/nodes/measure/node-health-checker.mdx
  apps/nextra/pages/zh/network/nodes/measure/node-inspection-service.mdx
  apps/nextra/pages/zh/network/nodes/validator-node.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/modify-nodes.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/node-requirements.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/operator.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/verify-nodes.mdx
Owners: @gregnazario, @hariria

fix: run lint and fmt
  apps/nextra/docs.config.js
  apps/nextra/pages/zh/_meta.ts
Owners: @gregnazario, @hariria

translate doc(/apps/nextra/pages/zh/network/nodes): Translate the document into Chinese.
  apps/nextra/pages/zh-cn/network/nodes/aptos-api-spec.mdx
  apps/nextra/pages/zh-cn/network/nodes/bootstrap-fullnode.mdx
  apps/nextra/pages/zh-cn/network/nodes/bootstrap-fullnode/aptos-db-restore.mdx
  apps/nextra/pages/zh-cn/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
  apps/nextra/pages/zh-cn/network/nodes/building-from-source.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure.mdx
  apps/nextra/pages/zh-cn/network/nodes/configure/telemetry.mdx
  apps/nextra/pages/zh-cn/network/nodes/full-node.mdx
  apps/nextra/pages/zh-cn/network/nodes/identity-and-configuration.mdx
  apps/nextra/pages/zh-cn/network/nodes/localnet.mdx
  apps/nextra/pages/zh-cn/network/nodes/measure.mdx
  apps/nextra/pages/zh-cn/network/nodes/networks.mdx
  apps/nextra/pages/zh-cn/network/nodes/validator-node.mdx
Owners: @gregnazario, @hariria

translate Doc(\apps\nextra\pages\zh-cn\network\nodes): en to zh ['./bootstrap-fullnode','./configure','./full-node','./localnet'], and fix './'
  apps/nextra/pages/zh/network/nodes/aptos-api-spec.mdx
  apps/nextra/pages/zh/network/nodes/bootstrap-fullnode.mdx
  apps/nextra/pages/zh/network/nodes/bootstrap-fullnode/aptos-db-restore.mdx
  apps/nextra/pages/zh/network/nodes/building-from-source.mdx
  apps/nextra/pages/zh/network/nodes/configure/node-files-all-networks/node-files-devnet.mdx
  apps/nextra/pages/zh/network/nodes/configure/node-files-all-networks/node-files-mainnet.mdx
  apps/nextra/pages/zh/network/nodes/configure/node-files-all-networks/node-files-testnet.mdx
  apps/nextra/pages/zh/network/nodes/configure/state-sync.mdx
  apps/nextra/pages/zh/network/nodes/full-node.mdx
  apps/nextra/pages/zh/network/nodes/full-node/deployments.mdx
  apps/nextra/pages/zh/network/nodes/full-node/deployments/using-docker.mdx
  apps/nextra/pages/zh/network/nodes/full-node/deployments/using-gcp.mdx
  apps/nextra/pages/zh/network/nodes/full-node/deployments/using-source-code.mdx
  apps/nextra/pages/zh/network/nodes/full-node/fullnode-source-code-or-docker.mdx
  apps/nextra/pages/zh/network/nodes/full-node/modify.mdx
  apps/nextra/pages/zh/network/nodes/full-node/modify/fullnode-network-connections.mdx
  apps/nextra/pages/zh/network/nodes/full-node/modify/network-identity-fullnode.mdx
  apps/nextra/pages/zh/network/nodes/full-node/modify/update-fullnode-with-new-releases.mdx
  apps/nextra/pages/zh/network/nodes/full-node/pfn-requirements.mdx
  apps/nextra/pages/zh/network/nodes/full-node/verify-pfn.mdx
  apps/nextra/pages/zh/network/nodes/identity-and-configuration.mdx
  apps/nextra/pages/zh/network/nodes/localnet.mdx
  apps/nextra/pages/zh/network/nodes/localnet/local-development-network.mdx
  apps/nextra/pages/zh/network/nodes/localnet/run-a-localnet.mdx
  apps/nextra/pages/zh/network/nodes/measure.mdx
  apps/nextra/pages/zh/network/nodes/networks.mdx
  apps/nextra/pages/zh/network/nodes/validator-node.mdx
Owners: @gregnazario, @hariria

Translate docs.config.js and fix meta.ts
  apps/nextra/docs.config.js
  apps/nextra/pages/zh/_meta.ts
Owners: @gregnazario, @hariria

Remove old learn meta
  apps/nextra/pages/zh/_meta.ts
Owners: @gregnazario, @hariria

translate doc(aptos-developer-docs\apps\nextra\pages\en\network\nodes): './' all files in the [ndoes] directory and all files within any subdirectories.
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/connect-to-aptos-network.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/delegation-pool-operations.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/staking-pool-operations.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/connect-nodes/staking-pool-voter.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-aws.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-azure.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-docker.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-gcp.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/deploy-nodes/using-source-code.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/modify-nodes/shutting-down-nodes.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/modify-nodes/update-validator-node.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/verify-nodes/leaderboard-metrics.mdx
  apps/nextra/pages/zh/network/nodes/validator-node/verify-nodes/node-liveness-criteria.mdx
Owners: @gregnazario, @hariria

Defining separate indicators for i18nConfig language can be reused
  apps/nextra/docs.config.js
Owners: @gregnazario, @hariria

Remove .env.example NEXT_PUBLIC_CODECACHE_API_KEY
  apps/nextra/.env.example
Owners: @gregnazario, @hariria

update wallet adapter docs
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/wallets.mdx
Owners: @0xmaayan, @gregnazario

Extract en from i18n to Zh
  apps/nextra/docs.config.js
  apps/nextra/styles.css
Owners: @gregnazario, @hariria

Eliminate redundant en sections from zh
  apps/nextra/docs.config.js
Owners: @gregnazario, @hariria

[nextra] Fix redirect for move book summary
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[nextra] Fix redirect for move book summary (#480)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Update fungible-asset.md (#463)
  apps/docusaurus/docs/standards/fungible-asset.md
Owners: @gregnazario, @hariria

[move-reference] Put move reference in an iframe from the legacy site
  apps/nextra/components/framework-reference/index.tsx
  apps/nextra/components/index.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/move-reference.mdx
Owners: @gregnazario, @hariria, @movekevin

[move-reference] Put move reference in an iframe from the legacy site (#481)
  apps/nextra/components/framework-reference/index.tsx
  apps/nextra/components/index.tsx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/move-reference.mdx
Owners: @gregnazario, @hariria, @movekevin

[move-reference] Fix redirects for move reference
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[move-reference] Fix redirects for move reference (#482)
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

Add live iframe example for Keyless
  apps/nextra/pages/en/build/guides/aptos-keyless/_meta.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/simple-example.mdx
Owners: @gregnazario, @hariria

Add Keyless account caching
  apps/docusaurus/docs/aptos-keyless/integration-guide.md
  apps/nextra/pages/en/build/guides/aptos-keyless/integration-guide.mdx
Owners: @gregnazario, @hariria

[nextra] Redirects based on 404 results in google analytics
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[nextra] Remove Use CLI
  apps/nextra/pages/en/build/cli/use-cli.mdx
Owners: @gregnazario, @hariria

[nextra] Remove Use CLI
  apps/nextra/pages/en/build/cli/use-cli.mdx
Owners: @gregnazario, @hariria

[nextra] Redirects based on 404 results in google analytics
  apps/nextra/next.config.mjs
Owners: @gregnazario, @hariria

[deps] upgrade ws
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria

[video] Add videos for Keyless and Randomness with Alin
  apps/nextra/components/index.tsx
  apps/nextra/components/media/index.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
  apps/nextra/pages/en/build/smart-contracts/randomness.mdx
Owners: @gregnazario, @hariria, @movekevin

Fix typo inside move sec. guidelines
  apps/nextra/pages/en/build/smart-contracts/move-security-guidelines.mdx
Owners: @movekevin, @gregnazario

[Nodes] Add small warning to snapshot bootstrapping
  apps/nextra/pages/en/network/nodes/bootstrap-fullnode/bootstrap-fullnode.mdx
Owners: @rustielin, @aptos-labs/prod-eng

[video] Add video for Keyless with Alin
  apps/nextra/components/index.tsx
  apps/nextra/components/media/index.tsx
  apps/nextra/pages/en/build/guides/aptos-keyless/how-keyless-works.mdx
Owners: @gregnazario, @hariria

[cli] Fix broken use-cli links
  apps/nextra/pages/en/build/apis/fullnode-rest-api.mdx
  apps/nextra/pages/en/build/smart-contracts/prover/prover-guide.mdx
  apps/nextra/pages/en/network/glossary.mdx
Owners: @gregnazario, @hariria, @movekevin
