Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

[ì8n] upgrade zh build/install-cli/*.mdx (#920)
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-linux.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-mac.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-specific-version.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario, @hariria, @igor-p

Compiler v2 doc update
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

Compiler v2 doc update (#923)
  apps/nextra/pages/en/build/smart-contracts/compiler_v2.mdx
  apps/nextra/pages/en/build/smart-contracts/linter.mdx
Owners: @aptos-labs/move-eng

fix marketplace link
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
Owners: @aptos-labs/ecosystem-infra

fix marketplace link (#925)
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
Owners: @aptos-labs/ecosystem-infra

[i18n] zh build/apis
  apps/nextra/pages/zh/build/apis/_meta.tsx
  apps/nextra/pages/zh/build/apis/aptos-labs-developer-portal.mdx
  apps/nextra/pages/zh/build/apis/data-providers.mdx
  apps/nextra/pages/zh/build/apis/faucet-api.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
Owners: @gregnazario, @hariria, @igor-p

typo
  apps/nextra/pages/zh/build/apis/data-providers.mdx
Owners: @gregnazario, @hariria, @igor-p

[i18n] zh build/apis (#924)
  apps/nextra/pages/zh/build/apis/_meta.tsx
  apps/nextra/pages/zh/build/apis/aptos-labs-developer-portal.mdx
  apps/nextra/pages/zh/build/apis/data-providers.mdx
  apps/nextra/pages/zh/build/apis/faucet-api.mdx
  apps/nextra/pages/zh/build/apis/fullnode-rest-api.mdx
Owners: @gregnazario, @hariria, @igor-p

[nextra] Preload Search component (#903)
  apps/nextra/components/preload-search/DynamicPreloadSearch.tsx
  apps/nextra/components/preload-search/PreloadSearch.tsx
  apps/nextra/components/preload-search/index.ts
  apps/nextra/pages/_app.tsx
  apps/nextra/pages/_document.tsx
  apps/nextra/public/sitemap-en.xml
  apps/nextra/public/sitemap-zh.xml
Owners: @gregnazario, @hariria, @igor-p

Update Script Composer Doc
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

[ScriptComposer]Update Script Composer Doc (#928)
  apps/nextra/pages/en/build/sdks/ts-sdk/building-transactions/script-composer.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

updates to the adapter x chain accounts page
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

zh build/sdks/ts-sdk
  apps/nextra/pages/zh/build/sdks/ts-sdk.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account/account-abstraction.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/batching-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/bcs-format.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/script-composer.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/legacy-ts-sdk.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/legacy-ts-sdk/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/quickstart.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/ts-examples.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/type-safe-contract.mdx
Owners: @gregnazario, @hariria, @igor-p

[i18n] zh build/sdks/ts-sdk (#929)
  apps/nextra/pages/zh/build/sdks/ts-sdk.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account/account-abstraction.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/batching-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/bcs-format.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/multi-agent-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/script-composer.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/simulating-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/building-transactions/sponsoring-transactions.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/fetch-data-via-sdk.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/legacy-ts-sdk.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/legacy-ts-sdk/_meta.tsx
  apps/nextra/pages/zh/build/sdks/ts-sdk/legacy-ts-sdk/migration-guide.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/quickstart.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/ts-examples.mdx
  apps/nextra/pages/zh/build/sdks/ts-sdk/type-safe-contract.mdx
Owners: @gregnazario, @hariria, @igor-p

Updates to the adapter x chain accounts page (#918)
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Revert "Updates to the adapter x chain accounts page (#918)"
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

updates to the adapter x chain accounts page
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Revert "Updates to the adapter x chain accounts page" (#930)
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update exchange guide with store deletion events (#916)
  apps/nextra/pages/en/build/guides/exchanges.mdx
Owners: @gregnazario, @hariria, @igor-p

Update self-hosted.mdx (#908)
  apps/nextra/pages/en/build/indexer/txn-stream/self-hosted.mdx
Owners: @aptos-labs/ecosystem-infra

remove the TG template from CAD docs
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p

deprecation
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
Owners: @aptos-labs/ecosystem-infra

[indexer] Update deprecated tables (#933)
  apps/nextra/pages/en/build/indexer/indexer-api/indexer-reference.mdx
Owners: @aptos-labs/ecosystem-infra

winget install
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario, @hariria, @igor-p

update en winget install
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario

rm telegram-mini-app-template
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p

[Template] remove telegram mini app template (#935)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/create-aptos-dapp.mdx
Owners: @gregnazario, @hariria, @igor-p

[Cli] Winget Install (#934)
  apps/nextra/pages/en/build/cli/install-cli/install-cli-windows.mdx
  apps/nextra/pages/zh/build/cli/install-cli/install-cli-windows.mdx
Owners: @gregnazario, @hariria, @igor-p

update docs for fetching wallets in the wallet adapter
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix nextjs broken link
  apps/nextra/pages/en/developer-platforms/contribute/components/image.mdx
Owners: @gregnazario, @hariria, @igor-p

typo
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

add steps and wallets table
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Add steps and wallets table (#938)
  apps/nextra/pages/en/build/sdks/wallet-adapter/x-chain-accounts.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update docs for fetching wallets in the wallet adapter (#937)
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
  apps/nextra/pages/en/developer-platforms/contribute/components/image.mdx
Owners: @gregnazario, @aptos-labs/developer-platform, @hariria, @igor-p

update link
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix link
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update link
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
Owners: @aptos-labs/move-eng

update
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
Owners: @aptos-labs/move-eng

Add docs for Confidential Asset Contracts & SDK (#939)
  apps/nextra/pages/en/build/sdks/ts-sdk/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/confidential-asset.mdx
  apps/nextra/pages/en/build/smart-contracts/_meta.tsx
  apps/nextra/pages/en/build/smart-contracts/confidential-asset.mdx
  apps/nextra/public/docs/ca-diagram-dark.png
  apps/nextra/public/docs/ca-diagram-light.png
Owners: @gregnazario, @aptos-labs/developer-platform, @aptos-labs/move-eng, @hariria, @igor-p

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
