Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @0xzihan, @aching, @rustielin, @aptos-labs/prod-eng, @banool, @moonclavedev, @0xmaayan, @movekevin

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @0xzihan

## Aptos White Paper
docs/aptos-white-paper/** @aching

## Nodes
docs/nodes/** @rustielin @aptos-labs/prod-eng

## Indexer
docs/indexer/** @banool

## General UI
src/** @moonclavedev @gregnazario

## SDKs
docs/sdks/** @0xmaayan @gregnazario
static/sdks/** @0xmaayan @gregnazario

## Move
docs/move/** @movekevin @gregnazario

double title removed, pnpm fmt (#155)
  docs/move/move-on-aptos/move-security-guidelines.md
  docs/tutorials/your-first-nft.md
Owners: @movekevin, @gregnazario, @0xzihan

[objects] Add a section on how to use objects to the docs
  docs/move/move-on-aptos/objects/configuring-objects.md
  docs/move/move-on-aptos/objects/creating-objects.md
  docs/move/move-on-aptos/objects/index.md
  docs/move/move-on-aptos/objects/using-objects.md
  docs/standards/aptos-object.md
  src/components/sidebars.ts
Owners: @movekevin, @gregnazario, @0xzihan, @moonclavedev

[syntax] Highlight all Move syntax with custom plugin
  docs/move/book/abort-and-assert.md
  docs/move/book/conditionals.md
  docs/move/book/constants.md
  docs/move/book/equality.md
  docs/move/book/friends.md
  docs/move/book/functions.md
  docs/move/book/global-storage-operators.md
  docs/move/book/loops.md
  docs/move/book/references.md
  docs/move/book/uses.md
  docs/move/book/variables.md
  docs/move/book/vector.md
  docusaurus.config.ts
  package.json
  pnpm-lock.yaml
  src/theme/prism-include-languages.js
  src/theme/prism-move-lang.ts
Owners: @movekevin, @gregnazario, @0xzihan, @moonclavedev

[objects] Add a section on how to use objects to the docs
  docs/move/move-on-aptos/objects/configuring-objects.md
  docs/move/move-on-aptos/objects/creating-objects.md
  docs/move/move-on-aptos/objects/index.md
  docs/move/move-on-aptos/objects/using-objects.md
  docs/standards/aptos-object.md
  src/components/sidebars.ts
Owners: @movekevin, @gregnazario, @0xzihan, @moonclavedev

[syntax] Highlight all Move syntax with custom plugin
  docs/move/book/abort-and-assert.md
  docs/move/book/conditionals.md
  docs/move/book/constants.md
  docs/move/book/equality.md
  docs/move/book/friends.md
  docs/move/book/functions.md
  docs/move/book/global-storage-operators.md
  docs/move/book/loops.md
  docs/move/book/references.md
  docs/move/book/uses.md
  docs/move/book/variables.md
  docs/move/book/vector.md
  docusaurus.config.ts
  package.json
  pnpm-lock.yaml
  src/theme/prism-include-languages.js
  src/theme/prism-move-lang.ts
Owners: @movekevin, @gregnazario, @0xzihan, @moonclavedev

[objects] Reword some pieces of the objects doc
  docs/move/move-on-aptos/objects/configuring-objects.md
  docs/move/move-on-aptos/objects/index.md
Owners: @movekevin, @gregnazario

[object] Add a simple example in the introduction page
  docs/move/move-on-aptos/objects/creating-objects.md
  docs/move/move-on-aptos/objects/index.md
Owners: @movekevin, @gregnazario

[objects] Reword some pieces of the objects doc
  docs/move/move-on-aptos/objects/configuring-objects.md
  docs/move/move-on-aptos/objects/index.md
Owners: @movekevin, @gregnazario

[object] Add a simple example in the introduction page
  docs/move/move-on-aptos/objects/creating-objects.md
  docs/move/move-on-aptos/objects/index.md
Owners: @movekevin, @gregnazario

[deps] Update docusaurus and other deps
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

[deps] Update stoplight and aria components
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

[deps] Remove follow redirects override
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

s/rust/move
  docs/move/move-on-aptos/move-security-guidelines.md
Owners: @movekevin, @gregnazario

s/rust/move (#159)
  docs/move/move-on-aptos/move-security-guidelines.md
Owners: @movekevin, @gregnazario

[RaNd0M HACK] Remove promo banner from sidebar
  src/components/sidebars.ts
  static/img/APT-Random-Hackathon-Takeover-600x1200.webp
Owners: @moonclavedev, @gregnazario, @0xzihan

[RaNd0M HACK] Remove promo banner from sidebar
  src/components/sidebars.ts
  static/img/APT-Random-Hackathon-Takeover-600x1200.webp
Owners: @moonclavedev, @gregnazario, @0xzihan

Merge pull request from GHSA-49wm-cc4r-488v
  docs/move/move-on-aptos/move-security-guidelines.md
Owners: @movekevin, @gregnazario

[Nodes] Quick pass over nodes section.
  docs/guides/state-sync.md
  docs/nodes/full-node/fullnode-network-connections.md
  docs/nodes/full-node/fullnode-source-code-or-docker.md
  docs/nodes/full-node/index.md
  docs/nodes/full-node/network-identity-fullnode.md
  docs/nodes/full-node/run-a-fullnode-on-gcp.md
  docs/nodes/nodes-landing.md
  docs/nodes/validator-node/index.md
  docs/nodes/validator-node/operator/node-requirements.md
  docs/nodes/validator-node/operator/running-validator-node/using-docker.md
  docs/nodes/validator-node/operator/running-validator-node/using-source-code.md
  docusaurus.config.ts
  scripts/additional_dict.txt
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @rustielin, @aptos-labs/prod-eng, @moonclavedev

[Nodes] Quick pass over nodes section. (#166)
  docs/guides/state-sync.md
  docs/nodes/full-node/fullnode-network-connections.md
  docs/nodes/full-node/fullnode-source-code-or-docker.md
  docs/nodes/full-node/index.md
  docs/nodes/full-node/network-identity-fullnode.md
  docs/nodes/full-node/run-a-fullnode-on-gcp.md
  docs/nodes/nodes-landing.md
  docs/nodes/validator-node/index.md
  docs/nodes/validator-node/operator/node-requirements.md
  docs/nodes/validator-node/operator/running-validator-node/using-docker.md
  docs/nodes/validator-node/operator/running-validator-node/using-source-code.md
  docusaurus.config.ts
  scripts/additional_dict.txt
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @rustielin, @aptos-labs/prod-eng, @moonclavedev

Fix typos
  docs/community/rust-coding-guidelines.md
  docs/move/book/unit-testing.md
  docs/move/move-on-aptos/cli.md
  docs/nodes/validator-node/operator/update-validator-node.md
  docs/sdks/new-ts-sdk/account.md
  docs/sdks/new-ts-sdk/migration-guide.md
  docs/tutorials/build-e2e-dapp/5-submit-data-to-chain.md
  static/move-examples/common_account/sources/common_account.move
  static/move-examples/dao/nft_dao/README.md
  static/move-examples/dao/nft_dao/sources/bucket_table.move
  static/move-examples/dao/nft_dao/sources/nft_dao.move
  static/move-examples/defi/sources/locked_coins.move
  static/move-examples/drand/sources/lottery.move
  static/move-examples/fungible_asset/README.md
  static/move-examples/large_packages/large_package_example/sources/six.move
  static/move-examples/large_packages/sources/large_packages.move
  static/move-examples/mint_nft/1-Create-NFT/sources/create_nft.move
  static/move-examples/mint_nft/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
  static/move-examples/move-tutorial/README.md
  static/move-examples/my_first_dapp/client/src/App.tsx
  static/move-examples/package_manager/sources/package_manager.move
  static/move-examples/post_mint_reveal_nft/sources/big_vector.move
  static/move-examples/post_mint_reveal_nft/sources/bucket_table.move
  static/move-examples/post_mint_reveal_nft/sources/minting.move
  static/move-examples/resource_account/sources/simple_defi.move
  static/move-examples/resource_groups/secondary/sources/secondary.move
  static/move-examples/swap/sources/coin_wrapper.move
  static/move-examples/swap/sources/router.move
  static/move-examples/veiled_coin/doc/veiled_coin.md
  static/move-examples/veiled_coin/sources/veiled_coin.move
  static/move-examples/veiled_coin/sources/veiled_coin_tests.move
  static/scripts/prover_setup.sh
  static/sdks/python/aptos_sdk/cli.py
  static/sdks/rust/src/transaction_builder.rs
  static/sdks/typescript/examples/typescript/multisig_transaction.ts
Owners: @gregnazario, @0xzihan, @movekevin, @rustielin, @aptos-labs/prod-eng, @0xmaayan

[Nodes] Sanity pass over docs and reshuffle.
  docs/nodes/full-node/aptos-db-restore.md
  docs/nodes/full-node/bootstrap-fullnode.md
  docs/nodes/full-node/fullnode-source-code-or-docker.md
  docs/nodes/full-node/run-a-fullnode-on-gcp.md
  docs/nodes/full-node/update-fullnode-with-new-releases.md
  docs/nodes/measure/index.md
  docs/nodes/measure/node-health-checker.md
  docs/nodes/measure/node-inspection-service.md
  docs/nodes/nodes-landing.md
  docs/nodes/operations/index.md
  docusaurus.config.ts
  scripts/additional_dict.txt
  src/components/sidebars.ts
Owners: @rustielin, @aptos-labs/prod-eng, @gregnazario, @0xzihan, @moonclavedev

[Nodes] Clean up PFN node docs.
  docs/guides/state-sync.md
  docs/indexer/legacy/indexer-fullnode.md
  docs/nodes/full-node/bootstrap-fullnode.md
  docs/nodes/full-node/deployments/index.md
  docs/nodes/full-node/deployments/using-docker.md
  docs/nodes/full-node/deployments/using-gcp.md
  docs/nodes/full-node/deployments/using-source-code.md
  docs/nodes/full-node/fullnode-network-connections.md
  docs/nodes/full-node/fullnode-source-code-or-docker.md
  docs/nodes/full-node/index.md
  docs/nodes/full-node/network-identity-fullnode.md
  docs/nodes/full-node/pfn-requirements.md
  docs/nodes/full-node/verify-pfn.md
  docs/nodes/validator-node/operator/node-liveness-criteria.md
  docs/nodes/validator-node/operator/node-requirements.md
  docs/nodes/validator-node/operator/running-validator-node/using-gcp.md
  docusaurus.config.ts
  scripts/additional_dict.txt
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @banool, @rustielin, @aptos-labs/prod-eng, @moonclavedev

[Node] Pass over node configuration section
  docs/guides/data-pruning.md
  docs/guides/state-sync.md
  docs/nodes/configure/index.md
  docs/nodes/node-files-all-networks/index.md
  docs/nodes/node-files-all-networks/node-files-devnet.md
  docs/nodes/node-files-all-networks/node-files-testnet.md
  docs/nodes/node-files-all-networks/node-files.md
  docs/nodes/nodes-landing.md
  docs/reference/telemetry.md
  docusaurus.config.ts
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @rustielin, @aptos-labs/prod-eng, @moonclavedev

[github] Turn off link checker
  .github/workflows/links.yml
Owners: @gregnazario, @0xzihan

Fix typos
  docs/community/rust-coding-guidelines.md
  docs/move/book/unit-testing.md
  docs/move/move-on-aptos/cli.md
  docs/nodes/validator-node/operator/update-validator-node.md
  docs/sdks/new-ts-sdk/account.md
  docs/sdks/new-ts-sdk/migration-guide.md
  docs/tutorials/build-e2e-dapp/5-submit-data-to-chain.md
  static/move-examples/common_account/sources/common_account.move
  static/move-examples/dao/nft_dao/README.md
  static/move-examples/dao/nft_dao/sources/bucket_table.move
  static/move-examples/dao/nft_dao/sources/nft_dao.move
  static/move-examples/defi/sources/locked_coins.move
  static/move-examples/drand/sources/lottery.move
  static/move-examples/fungible_asset/README.md
  static/move-examples/large_packages/large_package_example/sources/six.move
  static/move-examples/large_packages/sources/large_packages.move
  static/move-examples/mint_nft/1-Create-NFT/sources/create_nft.move
  static/move-examples/mint_nft/2-Using-Resource-Account/sources/create_nft_with_resource_account.move
  static/move-examples/move-tutorial/README.md
  static/move-examples/my_first_dapp/client/src/App.tsx
  static/move-examples/package_manager/sources/package_manager.move
  static/move-examples/post_mint_reveal_nft/sources/big_vector.move
  static/move-examples/post_mint_reveal_nft/sources/bucket_table.move
  static/move-examples/post_mint_reveal_nft/sources/minting.move
  static/move-examples/resource_account/sources/simple_defi.move
  static/move-examples/resource_groups/secondary/sources/secondary.move
  static/move-examples/swap/sources/coin_wrapper.move
  static/move-examples/swap/sources/router.move
  static/move-examples/veiled_coin/doc/veiled_coin.md
  static/move-examples/veiled_coin/sources/veiled_coin.move
  static/move-examples/veiled_coin/sources/veiled_coin_tests.move
  static/scripts/prover_setup.sh
  static/sdks/python/aptos_sdk/cli.py
  static/sdks/rust/src/transaction_builder.rs
  static/sdks/typescript/examples/typescript/multisig_transaction.ts
Owners: @gregnazario, @0xzihan, @movekevin, @rustielin, @aptos-labs/prod-eng, @0xmaayan

Update cryptography.md
  docs/move/move-on-aptos/cryptography.md
Owners: @movekevin, @gregnazario

[github] Turn off link checker
  .github/workflows/links.yml
Owners: @gregnazario, @0xzihan

[deps] Update docusaurus and other deps
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

[deps] Update stoplight and aria components
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

[deps] Remove follow redirects override
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

feat(create-turbo): apply pnpm-eslint transform
  developer-docs/.vscode/settings.json
Owners: @gregnazario, @0xzihan

feat(create-turbo): install dependencies
  developer-docs/pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

[turbo] Add spellcheck & fmt commands
  README.md
  apps/current-docs/README.md
  package.json
  turbo.json
Owners: @gregnazario, @0xzihan

[netlify] Edit netlify.toml for new turborepo project
  netlify.toml
Owners: @gregnazario, @0xzihan

[Nodes] Pass over validator/VFN section and reshuffle
  docs/guides/state-sync.md
  docs/nodes/full-node/deployments/using-gcp.md
  docs/nodes/full-node/fullnode-network-connections.md
  docs/nodes/full-node/network-identity-fullnode.md
  docs/nodes/full-node/update-fullnode-with-new-releases.md
  docs/nodes/measure/index.md
  docs/nodes/modify/index.md
  docs/nodes/operations/index.md
  docs/nodes/validator-node/operator/connect-nodes/index.md
  docs/nodes/validator-node/operator/connect-to-aptos-network.md
  docs/nodes/validator-node/operator/modify-nodes/index.md
  docs/nodes/validator-node/operator/running-validator-node/index.md
  docs/nodes/validator-node/operator/running-validator-node/using-aws.md
  docs/nodes/validator-node/operator/running-validator-node/using-azure.md
  docs/nodes/validator-node/operator/running-validator-node/using-docker.md
  docs/nodes/validator-node/operator/running-validator-node/using-gcp.md
  docs/nodes/validator-node/operator/running-validator-node/using-source-code.md
  docs/nodes/validator-node/operator/shutting-down-nodes.md
  docs/nodes/validator-node/operator/update-validator-node.md
  docs/nodes/validator-node/operator/verify-nodes/index.md
  docusaurus.config.ts
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @rustielin, @aptos-labs/prod-eng, @moonclavedev

[ts-sdk] Move old ts-sdk to legacy-ts-sdk, new one to ts-sdk
  docs/concepts/accounts.md
  docs/concepts/txns-states.md
  docs/guides/account-management/key-rotation.md
  docs/guides/building-from-source.md
  docs/guides/sponsored-transactions.md
  docs/guides/system-integrators-guide.md
  docs/indexer/api/index.md
  docs/sdks/index.md
  docs/sdks/legacy-ts-sdk/aptos-client.md
  docs/sdks/legacy-ts-sdk/index.md
  docs/sdks/legacy-ts-sdk/indexer-client.md
  docs/sdks/legacy-ts-sdk/sdk-client-layer.md
  docs/sdks/legacy-ts-sdk/sdk-core-layer.md
  docs/sdks/legacy-ts-sdk/sdk-plugins-layer.md
  docs/sdks/legacy-ts-sdk/sdk-tests.md
  docs/sdks/legacy-ts-sdk/typescript-sdk-overview.md
  docs/sdks/new-ts-sdk/index.md
  docs/sdks/python-sdk.md
  docs/sdks/ts-sdk/account.md
  docs/sdks/ts-sdk/fetch-data-from-chain.md
  docs/sdks/ts-sdk/http-client.md
  docs/sdks/ts-sdk/index.md
  docs/sdks/ts-sdk/migration-guide.md
  docs/sdks/ts-sdk/move-types.md
  docs/sdks/ts-sdk/sdk-configuration.md
  docs/sdks/ts-sdk/transaction-builder.md
  docs/sdks/ts-sdk/typescript.md
  docs/standards/multisig-managed-fungible-asset.md
  docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
  docs/tutorials/build-e2e-dapp/index.md
  docs/tutorials/first-coin.md
  docs/tutorials/first-fungible-asset.md
  docs/tutorials/first-multisig.md
  docs/tutorials/first-transaction.md
  docs/tutorials/your-first-nft.md
  docusaurus.config.ts
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @banool, @0xmaayan, @moonclavedev

[ts-sdk] Move old ts-sdk to legacy-ts-sdk, new one to ts-sdk
  docs/concepts/accounts.md
  docs/concepts/txns-states.md
  docs/guides/account-management/key-rotation.md
  docs/guides/building-from-source.md
  docs/guides/sponsored-transactions.md
  docs/guides/system-integrators-guide.md
  docs/indexer/api/index.md
  docs/sdks/index.md
  docs/sdks/legacy-ts-sdk/aptos-client.md
  docs/sdks/legacy-ts-sdk/index.md
  docs/sdks/legacy-ts-sdk/indexer-client.md
  docs/sdks/legacy-ts-sdk/sdk-client-layer.md
  docs/sdks/legacy-ts-sdk/sdk-core-layer.md
  docs/sdks/legacy-ts-sdk/sdk-plugins-layer.md
  docs/sdks/legacy-ts-sdk/sdk-tests.md
  docs/sdks/legacy-ts-sdk/typescript-sdk-overview.md
  docs/sdks/new-ts-sdk/index.md
  docs/sdks/python-sdk.md
  docs/sdks/ts-sdk/account.md
  docs/sdks/ts-sdk/fetch-data-from-chain.md
  docs/sdks/ts-sdk/http-client.md
  docs/sdks/ts-sdk/index.md
  docs/sdks/ts-sdk/migration-guide.md
  docs/sdks/ts-sdk/move-types.md
  docs/sdks/ts-sdk/sdk-configuration.md
  docs/sdks/ts-sdk/transaction-builder.md
  docs/sdks/ts-sdk/typescript.md
  docs/standards/multisig-managed-fungible-asset.md
  docs/tutorials/build-e2e-dapp/4-fetch-data-from-chain.md
  docs/tutorials/build-e2e-dapp/index.md
  docs/tutorials/first-coin.md
  docs/tutorials/first-fungible-asset.md
  docs/tutorials/first-multisig.md
  docs/tutorials/first-transaction.md
  docs/tutorials/your-first-nft.md
  docusaurus.config.ts
  src/components/sidebars.ts
Owners: @gregnazario, @0xzihan, @banool, @0xmaayan, @moonclavedev

feat(create-turbo): apply pnpm-eslint transform
  developer-docs/.vscode/settings.json
Owners: @gregnazario, @0xzihan

feat(create-turbo): install dependencies
  developer-docs/pnpm-lock.yaml
Owners: @gregnazario, @0xzihan

[turbo] fmt && spellcheck
  README.md
  apps/docusaurus/README.md
  package.json
  turbo.json
Owners: @gregnazario, @0xzihan
