Repository aptos-labs/developer-docs, changes with the owners that CODEOWNERS names for each.
All owners: @gregnazario, @hariria, @igor-p, @rustielin, @michelle-aptos, @aptos-labs/prod-eng, @aptos-labs/blockchain-eng, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform, @0xmaayan, @aptos-labs/move-eng

Update README.md
  README.md
Owners: @gregnazario, @hariria, @igor-p

feat(docs): Improve README with enhanced badges and social links (#812)
  README.md
Owners: @gregnazario, @hariria, @igor-p

[deps] Upgrade dev dependency for vite (#870)
  .github/workflows/ci.yml
  .npmrc
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[update] add more fa related doc to system integration guide. (#645)
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/smart-contracts/fungible-asset.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

generating test transactions with move script
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-importer.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-script.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

generating test transactions with move script (#775)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-importer.mdx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/txn-script.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

testing processor
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

testing processor (#776)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/processor-test.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

prepare test transactions
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/test-transactions.mdx
Owners: @aptos-labs/ecosystem-infra

prepare test transactions (#777)
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/_meta.tsx
  apps/nextra/pages/en/build/indexer/indexer-sdk/advanced-tutorials/test-transactions.mdx
Owners: @aptos-labs/ecosystem-infra

add daa docs for the ts-sdk and wallet adapter
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/cross-chain-wallet.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update `optInWallets` to replace `plugins` for Wallet Provider
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fix: static/move-examples/my_first_dapp/client/package.json to reduce vulnerabilities
  static/move-examples/my_first_dapp/client/package.json
Owners: @gregnazario, @hariria, @igor-p

add nft aggregator
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add market integration page
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplace-integration.mdx
Owners: @aptos-labs/ecosystem-infra

remove plugins comment & unused wallet imports
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

update `optInWallets` to replace `plugins` for Wallet Provider (#872)
  apps/nextra/pages/en/build/sdks/wallet-adapter/dapp.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Update gas-txn-fee.mdx
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @aptos-labs/blockchain-eng

Update gas-txn-fee.mdx (#877)
  apps/nextra/pages/en/network/blockchain/gas-txn-fee.mdx
Owners: @aptos-labs/blockchain-eng

[deps] Upgrade prettier
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[links] Fix broken links
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/smart-contracts/cryptography.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

[deps] Upgrade prettier (#879)
  apps/nextra/pages/en/build/guides/system-integrators-guide.mdx
  apps/nextra/pages/en/build/smart-contracts/cryptography.mdx
  package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/move-eng

[deps] Fix sec update
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

[deps] Fix sec update (#881)
  package.json
  packages/aptos-nextra-components/package.json
  pnpm-lock.yaml
Owners: @gregnazario, @hariria, @igor-p

chore: fix typo in code demo
  apps/nextra/pages/en/build/smart-contracts/book/functions.mdx
Owners: @aptos-labs/move-eng

add table reference page
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/nft-aggregator-table.mdx
Owners: @aptos-labs/ecosystem-infra

add nft aggregator
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/_meta.tsx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add nft aggregator (#875)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/nft-aggregator-table.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add marketplaces page
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/bluemove.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/rarible.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/topaz.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/tradeport.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wagmi.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wapal.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add marketplaces page (#880)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/bluemove.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/rarible.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/topaz.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/tradeport.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wagmi.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wapal.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add api pages
  apps/nextra/components/graphql/index.tsx
  apps/nextra/components/graphql/nft/DynamicNFTGraphQL.tsx
  apps/nextra/components/graphql/nft/NFTGraphQL.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/analytics-api.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/graphql-api.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

add api pages (#883)
  apps/nextra/components/graphql/index.tsx
  apps/nextra/components/graphql/nft/DynamicNFTGraphQL.tsx
  apps/nextra/components/graphql/nft/NFTGraphQL.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/_meta.tsx
  apps/nextra/pages/en/build/indexer/nft-aggregator/analytics-api.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/graphql-api.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra

remove topaz and wagmi
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/bluemove.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/rarible.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/topaz.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/tradeport.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wagmi.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wapal.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/nft-aggregator-table.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform

remove topaz and wagmi (#884)
  apps/nextra/next.config.mjs
  apps/nextra/pages/en/build/indexer/nft-aggregator.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/bluemove.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/rarible.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/topaz.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/tradeport.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wagmi.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/marketplaces/wapal.mdx
  apps/nextra/pages/en/build/indexer/nft-aggregator/nft-aggregator-table.mdx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
Owners: @gregnazario, @hariria, @igor-p, @aptos-labs/ecosystem-infra, @aptos-labs/developer-platform

add daa docs for the ts-sdk and wallet adapter
  apps/nextra/pages/en/build/sdks/ts-sdk/account/_meta.tsx
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/cross-chain-wallet.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

missed one
  apps/nextra/pages/en/build/sdks/wallet-adapter/cross-chain-wallet.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

cross chain -> x-chain
  apps/nextra/pages/en/build/sdks/wallet-adapter/cross-chain-wallet.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Updated `cross-chain-wallet.mdx`
  apps/nextra/pages/en/build/sdks/wallet-adapter/cross-chain-wallet.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

Updates to `derivable-account-abstraction.mdx`
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

fixing x-chain accounts term
  apps/nextra/pages/en/build/sdks/ts-sdk/account/derivable-account-abstraction.mdx
  apps/nextra/pages/en/build/sdks/wallet-adapter/_meta.tsx
  apps/nextra/pages/en/build/sdks/wallet-adapter/cross-chain-wallet.mdx
Owners: @gregnazario, @aptos-labs/developer-platform

CODEOWNERS:

# This is the overarching CODEOWNERS file for Aptos.dev documentation.
# It exists to help route review requests and ensure proper review of changes.
# We include each subdirectory and relevant owners below:
# Global rule:
* @gregnazario @hariria @igor-p

## Nodes
apps/nextra/pages/en/network/nodes/** @rustielin @michelle-aptos @aptos-labs/prod-eng

## Blockchain
apps/nextra/pages/en/network/blockchain/** @aptos-labs/blockchain-eng

## Indexer
apps/nextra/pages/en/build/indexer/** @aptos-labs/ecosystem-infra

## SDKs
apps/nextra/pages/en/build/sdks/** @gregnazario @aptos-labs/developer-platform

## create-aptos-dapp
apps/nextra/pages/en/build/create-aptos-dapp/** @0xmaayan

## CLI
apps/nextra/pages/en/build/cli/** @gregnazario

## Smart Contracts
apps/nextra/pages/en/build/smart-contracts/** @aptos-labs/move-eng
